{% load static %}
{% load app_tags %}
<!DOCTYPE html>
<html lang="pl">

<head>
    <title>Treasury</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    <link rel="icon" href="{% static 'assets/images/favicon.png' %}">

</head>

<body>

{% include 'app/basic/navbar.html' %}

<section class="mid">
    <section class="middle-office">
        <div class="container-fluid">
            <h2>Your Middle Office</h2>
        </div>
    </section>


    <section style=" margin-top: 10px">
        <div class="container d-flex justify-content-center ">
            <div class="profile-table mt-4">
                <h3 class="font-weight-bold">Activate Account</h3>

                    {% if result_dic.error != '' %}
                        <div id="error-msg">{{ result_dic.error }}</div>
                    {% else %}
                        {% if not result_dic.results.is_exist == "True" %}
                            <div id="init-msg">Your Key doesn't exist.</div>
                        {% elif not result_dic.results.is_active == "True" %}
                            <div id="init-msg">Your Key is expired.</div>
                        {% else %}
                            <div id="init-msg"></div>
                        {% endif %}
                    {% endif %}

                <div id="msg"></div>
            </div>

        </div>

    </section>

    {% include "app/basic/license.html" %}

</section>


{% include "app/basic/footer.html" %}

<!-- Core JS  -->
<script src="{% static 'assets/js/jquery-2.1.3.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/libs/feather-icons/dist/feather.min.js' %}"></script>
<script src="{% static 'assets/libs/ip_input/ipInput.js' %}"></script>

{% include "app/basic/js.html" %}


<!-- Feather Icons -->
<script>

    account_activate();

    function account_activate() {

        if ($('#init-msg').text()) {
            return false;
        }

        let token = '{{csrf_token}}';
        $.ajax({
            headers: {
                "X-CSRFToken": token
            },
            type: 'post',
            url: "{% url 'account_cycle:account_api' %}",
            data: JSON.stringify({
                'function_name': 'account_activate',
                'arguments': {
                    'activation_key': '{{ key }}'
                },
                'source_caller': document.location.href,
            }),
            success: function (data) {
                if (data.error) {
                    msg_show($('#msg'), data['error']);
                } else {
                    msg_show($('#msg'),`Account activated. <a class="text-primary" href="{% url 'account_cycle:login' %}">Login. </a>`);
                }
            },

            error: function (jqXhr, textStatus, errorMessage) {
                msg_show($('#msg'), "Error: " + errorMessage);
            },

        });

    }

</script>

</body>

</html>