{% load static %}
{% load app_tags %}
<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TG Code">
    <title>Treasury Quants</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/libs/ionicons/css/ionicons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    <link rel="icon" href="{% static 'assets/images/favicon.png' %}"  type="image/png">
</head>

<body>

{% include 'app/basic/navbar.html' %}

<section class="mid">
    {% include 'app/basic/middle_office.html' %}
    <div class="container login-container">
        <div class="changes-detail-main">
            <h3 class="font-weight-bold">Create Account</h3>

            <div class="text-muted pt-2 ">Password must be longer than 9 characters and not include the following special characters: "',|&.
            </div>

            <form action="" method="post" >
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input class="form-control" placeholder="Email" aria-label="Email"
                           aria-describedby="basic-addon1" id="input-name" name="new_email"  type="email">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password" aria-label="Password"
                           aria-describedby="basic-addon1" id="input-password" name="new_password">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input type="password" class="form-control" placeholder="Confirm password" aria-label="Password"
                           aria-describedby="basic-addon1" id="input-password-confirm" name="password-confirm">
                </div>

                <div class="description">
                    <span id="msg"></span>
                </div>

                <button class="btn btn-primary mt-4 pull-right btn-block" style="float: right" type="button"
                        onclick="account_status()">
                    Create account<span class="spinner-border spinner-border-sm" id="loading-icon" role="status"
                                        aria-hidden="true"></span>
                </button>
                <div style="clear: both"></div>
                <div style="margin-top: 30px">
                    <span>Already have an account?</span> <a href="{% url 'account_cycle:login' %}"
                                                             class="ml-4 text-primary">Login</a>
                </div>
            </form>

        </div>
    </div>

    {% include "app/basic/license.html" %}

</section>

{% include "app/basic/footer.html" %}

<!-- Core JS  -->
<script src="{% static 'assets/js/jquery-2.1.3.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/libs/feather-icons/dist/feather.min.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>

{% include 'app/basic/js.html' %}

<!-- Feather Icons -->
<script>

    let user_ip = ''
    get_ip();

    function get_ip() {
        $.getJSON("http://jsonip.com/?callback=?", function (data) {
            console.log(data.ip)
            user_ip = data.ip;
        });

    }

    function account_status() {
        let email = $('#input-name').val();
        let password = $('#input-password').val();
        let confirm_password = $('#input-password-confirm').val();
        let msg_text = password_validate(password, confirm_password);
        if (msg_text) {
            msg_show($('#msg'), msg_text);
            return;
        }

        let token = '{{csrf_token}}';
        $('#loading-icon').css('display', 'inline-block');
        $.ajax({
            headers: {
                "X-CSRFToken": token
            },
            type: 'post',
            url: "{% url 'account_cycle:account_api' %}",
            data: JSON.stringify({
                'function_name': 'account_status',
                'arguments': {
                    'user_email': email,
                },
                'source_caller': document.location.href,
            }),
            success: function (data) {

                if (data.error) {
                    msg_show($('#msg'), data['error']);

                } else {
                    if (data.results.is_exist === 'False') {
                        create_account(email, password, user_ip);
                    } else if (data.results.is_exist === 'True' && data.results.is_active === 'False') {
                        msg_show($('#msg'), `The Email is already register, <a class="text-primary" href="{% url 'account_cycle:confirm_email_activate_account' %}">Please activate your account</a>`);
                    } else if (data.results.is_exist === 'True' && data.results.is_active === 'True') {
                        msg_show($('#msg'), `The Email is already register, <a class="text-primary" href="{% url 'account_cycle:login' %}">Please login </a>`);
                    } else {
                        msg_show($('#msg'), 'except');
                    }
                }
                $('#loading-icon').css('display', 'none');
            },
            error: function (jqXhr, textStatus, errorMessage) {
                $('#msg').text("Error: " + errorMessage);
                $('#loading-icon').css('display', 'none');
                post_message("account_status",errorMessage);
            },
        });
    }

    function create_account(email, password, user_ip) {

        let url = document.location;
        var token = '{{csrf_token}}';
        $.ajax({
            headers: {
                "X-CSRFToken": token
            },
            type: 'post',
            url: "{% url 'account_cycle:account_api' %}",
            data: JSON.stringify({
                'function_name': 'account_create',
                'arguments': {
                    'user_email': email,
                    'user_password': password,
                    'user_ip': user_ip,
                    'callback_url': url.protocol + '//' + url.host + '/account/account-activation-callback/',
                },
                'source_caller': document.location.href,
            }),
            success: function (data) {
                if (data.error) {
                    msg_show($('#msg'), data['error']);
                    post_message("create_account",data.error);
                } else {
                    msg_show($('#msg'), "We sent activation key to your email. Please check your mail box.");
                }
            },
            error: function (jqXhr, textStatus, errorMessage) {
                msg_show($('#msg'), "Error: " + errorMessage);
                $('#loading-icon').css('display', 'none');
                post_message("create_account",errorMessage);
            },

        });
    }

</script>

</body>

</html>

