{% load static %}
{% load app_tags %}
<!DOCTYPE html>
<html lang="pl">

<head>
    <title>Treasury Quants</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    <link rel="icon" href="{% static 'assets/images/favicon.png' %}"  type="image/png">
    <link rel="stylesheet" href="{% static 'assets/libs/ip_input/ipInput.css' %}">
</head>

<body>

{% include 'app/basic/navbar.html' %}

<section class="mid">
    <section class="middle-office">
        <div class="container-fluid">
            <h2>Your Middle Office</h2>
        </div>
    </section>


    <section style=" margin-top: 10px">
        <div class="container d-flex justify-content-center ">
            <div class="profile-table mt-4">
                <h3 class="font-weight-bold">My Account</h3>
                <div>Email: <a>{{ user_email }}</a></div>
                <table class="profile-table mt-2">

                    {% for key,value in result_dic.results.items %}
                        <tr>
                            <td>
                                <span class="text-muted">
                                    <i class="mr-3"
                                       data-feather="{% get_element_array_index icons forloop.counter0 %}"></i>
                                </span>{{ key }}
                            </td>
                            <td>{{ value }}
                                {% if key == 'ip' %} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <span class="pull-right-md text-primary" onclick="open_change_ip_window()"><i class="mr-1" data-feather="edit"></i>change&nbsp;Ip</span>
                                {% elif key == 'last_login' %}
                                    <span class="pull-right-md text-primary" onclick="open_change_password_window()"><i
                                            class="mr-1" data-feather="edit"></i>change&nbsp;Password</span>
                                {% endif %}
                            </td>
                        </tr>

                    {% endfor %}

                </table>
            </div>

        </div>

    </section>

    {% include "app/basic/license.html" %}

</section>


<div class="modal fade" id="change-ip-modal" tabindex="-1" role="dialog" aria-labelledby="change-video-data"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title d-flex align-items-center" id="modal-title-change-username">
                    <div>
                        <span class="text-muted"><i class="mr-3" data-feather="share-2"></i></span>
                    </div>
                    <div>
                        <h4 class="mb-0 font-weight-bold">Change Ip</h4>
                    </div>


                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mb-3">
                <div class="text-muted pt-2 pb-4">Changing your existing IP to a new one means that you will only be able to use our services from the new IP.
                </div>
                <div class="row px-3">
                    <span class="text-muted" style="line-height: 2">New Ip</span>
                    <div id="ip" class="ml-5"></div>
                </div>
                <div class="mt-5"></div>
                <button class="btn btn-primary btn-block" onclick="change_ip()">Change
                    <span class="spinner-border spinner-border-sm" id="loading-icon-ip" role="status"
                          aria-hidden="true"> </span>
                </button>
                <div style="clear: both"></div>
                <div id="ip-msg" style="padding-top:20px;"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="change-password-modal" tabindex="-1" role="dialog" aria-labelledby="change-video-data"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title d-flex align-items-center" id="modal-title-change-username">
                    <div>
                        <span class="text-muted"><i class="mr-3" data-feather="key"></i></span>
                    </div>
                    <div>
                        <h4 class="mb-0 font-weight-bold">Change Password</h4>
                    </div>

                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mb-3">
                <div class="text-muted pt-2 pb-4">Password must be longer than 9 characters and not include the
                    following special characters: "',|&
                </div>
                <label class="form-control-label mt-2" for="input-password">New password</label>
                <input class="form-control" id="input-password" name="password" placeholder="New password"
                       type="password">
                <label class="form-control-label mt-2" for="input-password-confirm">Confirm password</label>
                <input class="form-control" id="input-password-confirm" name="password_confirm"
                       placeholder="Confirm password"
                       type="password">

                <div class="mt-5"></div>
                <button class="btn btn-primary btn-block" style="float: right; " onclick="change_password()">Change
                    <span class="spinner-border spinner-border-sm" id="loading-icon-password" role="status"
                          aria-hidden="true"> </span></button>
                <div style="clear: both"></div>
                <div id="password-msg" class="mt-4"></div>
            </div>
        </div>
    </div>
</div>


<!-- Core JS  -->
{% include "app/basic/footer.html" %}
<script src="{% static 'assets/js/jquery-2.1.3.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/libs/feather-icons/dist/feather.min.js' %}"></script>
<script src="{% static 'assets/libs/ip_input/ipInput.js' %}"></script>

{% include "app/basic/js.html" %}

<!-- Feather Icons -->
<script>
    feather.replace({
        'width': '1em',
        'height': '1em'
    });

    var ip = '{{current_ip}}';
    var ipInput = $('#ip').ipInput(ip);



    function open_change_ip_window() {
        $('#change-ip-modal').modal('show');
    }

    function open_change_password_window() {
        $('#change-password-modal').modal('show');
    }



    function change_ip() {

        let ip = ipInput.getIp();
        var token = '{{csrf_token}}';
        if (!ip) {
            $('#ip-msg').text("Please input Ip.");
            return false;
        }
        $('#loading-icon-ip').css('display', 'inline-block');
        $.ajax({
            headers: {
                "X-CSRFToken": token
            },
            type: 'post',
            url: "{% url 'account_cycle:account_api' %}",
            data: JSON.stringify({
                'function_name': 'account_ip_change',
                'arguments': {
                    'user_email': '{{ user_email }}',
                    'user_password': '{{ password }}',
                    'new_ip': ip,
                },
                'source_caller': document.location.href,
            }),
            success: function (data) {
                if (data.error) {
                    $('#ip-msg').text(data['error']);
                    post_message("change_ip",data.error);
                } else {
                    $('#ip-msg').text(data['account_ip_change']);
                    document.location.href = '{% url "account_cycle:profile" %}';
                }
                $('#loading-icon-ip').css('display', 'none');
            },
            error: function (jqXhr, textStatus, errorMessage) {
                $('#ip-msg').text("Error: " + errorMessage);
                $('#loading-icon-ip').css('display', 'none');
                post_message("change_ip",errorMessage);
            },

        });
    }


    function change_password() {
        let password = $('#input-password').val();
        let confirm_password = $('#input-password-confirm').val();
        let msg_text = password_validate(password, confirm_password);
        if (msg_text) {
            $('#password-msg').html(msg_text);
            return;
        }
        let token = '{{csrf_token}}';
        $('#loading-icon-password').css('display', 'inline-block');
        $.ajax({
            headers: {
                "X-CSRFToken": token
            },
            type: 'post',
            url: "{% url 'account_cycle:account_api' %}",
            data: JSON.stringify({
                'function_name': 'account_password_change',
                'arguments': {
                    'user_email': '{{ user_email }}',
                    'user_password': '{{ password }}',
                    'new_password': password,
                },
                'source_caller': document.location.href,
            }),
            success: function (data) {
                if (data.error) {
                    $('#password-msg').text(data['error']);
                    post_message("change_password",data.error);
                } else {
                    $('#password-msg').html(`Password reseted successfully. <br> <a class="text-primary" href="{% url 'account_cycle:logout' %}">Please login using new password. </a>`)
                }
                $('#loading-icon-password').css('display', 'none');
            },
            error: function (jqXhr, textStatus, errorMessage) {
                $('#password-msg').text("Error: " + errorMessage);
                $('#loading-icon-password').css('display', 'none');
                post_message("change_password",errorMessage);
            },
        });
    }

</script>
</body>

</html>