{% load static %}
{% load app_tags %}
<!DOCTYPE html>
<html lang="en">


<head>
    <title>Treasury Quants</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    <link rel="icon" href="{% static 'assets/images/favicon.png' %}"  type="image/png">
</head>

<body>

{% include 'app/basic/navbar.html' %}


<section class="mid">
    <section class="middle-office">
        <div class="container-fluid">
            <h2>Your Middle Office</h2>
        </div>
        <div class="container p-lg-40 about_us_container maxWidth840" >
            <div class="regular-text mt-5">
                <h1><span class="font-weight-bold">Who are we?</span><span class="text-muted"> Glad you asked.</span></h1>

                <p class="mt-4">We are passionate about derivative support.


                    For decades, we have been supporting banks for their evaluations and risk analysis of
                    your derivatives. We have been there for every one of your new deals, restructuring and
                    novation. We now want to do the same thing for you and be your derivative support. <b> We want to be your
                    middle office.</b><br><br>

                    We are a group of quants - expert in fixed income derivatives. We are independent of any
                    banks, advisors or vendors. We work for you.<br><br>


                    In our view, the days of quarter-end evaluations are over. With all the technology and new
                    ways of doing business, why shouldn’t you know how your trades are doing, every day? Your
                    bank does.<br><br>


                    We want to provide you with your P&L, sensitivities and a host of risk analysis every day of
                    the week. <br><b>We don’t need to know any proprietary information about your trades to do our job.</b>
                    We can provide our reports in a per-notional basis; removing any scale of the trade’s value
                    while still providing detailed reports of your trade’s analysis.

                </p>
            </div>

            <div class="mt-5 mb-5">
                <video width="100%" height="100%" controls poster="{% static 'assets/video/about_us.png' %}">
                    <source src="{% static 'assets/video/Who are we_.mp4' %}" >
                </video>
            </div>
        </div>

    </section>

 <!--   {% include "app/basic/license.html" %} -->

</section>


{% include "app/basic/footer.html" %}

<!-- Core JS  -->
<script src="{% static 'assets/js/jquery-2.1.3.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/chart.js' %}"></script>
