{% load static %}
{% load app_tags %}
<!DOCTYPE html>
<html lang="en">


<head>
    <title>Treasury Quants</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    <link rel="icon" href="{% static 'assets/images/favicon.png' %}" type="image/png">
</head>

<body>

{% include 'app/basic/navbar.html' %}

<section class="mid">
    <section class="middle-office">
        <div class="container-fluid">
            <h2>Your Middle Office</h2>
            <h4>Swap & FX Market Rates</h4>
            <div class="one-usd">
                {% get_fx_rates_data as fx_data %}
                <h2>{{ fx_data.title }}</h2>
                <ul>
                    <li>
                        <div class="headings-section">
                            {% for head in fx_data.head_data %}
                                <div>{{ head }}</div>
                            {% endfor %}
                        </div>
                        {% for data_item in fx_data.data %}
                            {% if forloop.counter0 < 3 %}
                                <div class="charges-section">
                                    {% for ele in data_item %}
                                        {% string_float ele as ele_float %}
                                        {% if forloop.counter0 == 0 %}
                                            <div><img src="{% static 'assets/images/flags/'|add:ele|add:'.png' %}"
                                                      alt="{{ ele }}" class="img-fluid flag">
                                                {{ ele }}</div>
                                        {% elif forloop.counter0 == 1 %}
                                            <div class="font-weight-bolder">{{ ele }}</div>
                                        {% elif forloop.counter0 == 3 %}
                                            {% if ele_float < 0 %}
                                                <div class="text-danger">{{ ele }}</div>
                                            {% else %}
                                                <div class="text-success">{{ ele }}</div>
                                            {% endif %}
                                        {% else %}
                                            <div>{{ ele }}</div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </li>
                    <li>
                        <div class="headings-section">
                            {% for head in fx_data.head_data %}
                                <div>{{ head }}</div>
                            {% endfor %}
                        </div>
                        {% for data_item in fx_data.data %}
                            {% if forloop.counter0 < 6 and forloop.counter0 > 2 %}
                                <div class="charges-section">
                                    {% for ele in data_item %}
                                        {% string_float ele as ele_float %}
                                        {% if forloop.counter0 == 0 %}
                                            <div><img src="{% static 'assets/images/flags/'|add:ele|add:'.png' %}"
                                                      alt="{{ ele }}" class="img-fluid flag">
                                                {{ ele }}</div>
                                        {% elif forloop.counter0 == 1 %}
                                            <div class="font-weight-bolder">{{ ele }}</div>
                                        {% elif forloop.counter0 == 3 %}
                                            {% if ele_float < 0 %}
                                                <div class="text-danger">{{ ele }}</div>
                                            {% else %}
                                                <div class="text-success">{{ ele }}</div>
                                            {% endif %}
                                        {% else %}
                                            <div>{{ ele }}</div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </li>

                    <li>
                        <div class="headings-section">
                            {% for head in fx_data.head_data %}
                                <div>{{ head }}</div>
                            {% endfor %}
                        </div>
                        {% for data_item in fx_data.data %}
                            {% if forloop.counter0 > 5 %}
                                <div class="charges-section">
                                    {% for ele in data_item %}
                                        {% string_float ele as ele_float %}
                                        {% if forloop.counter0 == 0 %}
                                            <div><img src="{% static 'assets/images/flags/'|add:ele|add:'.png' %}"
                                                      alt="{{ ele }}" class="img-fluid flag">
                                                {{ ele }}</div>
                                        {% elif forloop.counter0 == 1 %}
                                            <div class="font-weight-bolder">{{ ele }}</div>
                                        {% elif forloop.counter0 == 3 %}
                                            {% if ele_float < 0 %}
                                                <div class="text-danger">{{ ele }}</div>
                                            {% else %}
                                                <div class="text-success">{{ ele }}</div>
                                            {% endif %}
                                        {% else %}
                                            <div>{{ ele }}</div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </li>

                </ul>
            </div>
        </div>
    </section>

    {% get_market_data as currency_data %}

    <section class="changes-detail-sec">
        <div class="container-fluid">
            <ul>
                {% for item in currency_data %}
                    <li>
                        <div class="changes-detail-main">
                            <div class="country-section">
                                <h3><img src="{% static 'assets/images/flags/'|add:item.title|add:'.png' %}"
                                         alt="{{ ele }}"
                                         class="img-fluid flag"> {{ item.title }}</h3>
                            </div>
                            <div class="headings-section">
                                {% for head_item in item.head_data %}
                                    <div>{{ head_item }}</div>
                                {% endfor %}
                            </div>
                            {% for data_item in item.data %}
                                <div class="charges-section">
                                    {% for ele in data_item %}
                                        {% string_float ele as ele_float %}
                                        {% if forloop.counter0 == 3 %}
                                            {% if ele_float < 0 %}
                                                <div class="red-text">{{ ele }}</div>
                                            {% else %}
                                                <div class="green-text">{{ ele }}</div>
                                            {% endif %}
                                        {% elif forloop.counter0 == 1 %}
                                            <div class="font-weight-bolder">{{ ele }}</div>
                                        {% else %}
                                            <div>{{ ele }}</div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="bg-white-chart">
                            <canvas id="myChart_{{ item.title }}"></canvas>
                        </div>
                    </li>
                {% endfor %}


            </ul>
        </div>
    </section>
    <section>
        <div><em>Swap rates are shown in percentage points using market conventions for each currency market. The swap rate market data is sourced from various OTC clearing houses' closing settlement rates for the dates shown. FX rates are source directly from ECB, periodically.</em></div>
    </section>
    {% include "app/basic/license.html" %}

</section>

{% include "app/basic/footer.html" %}

<!-- Core JS  -->
<script src="{% static 'assets/js/jquery-2.1.3.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/chart.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>
<script>
    function chart(chartId, title, tenor, legend1, legend2, data1, data2) {
        var ctx = document.getElementById(chartId).getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',
            // The data for our dataset
            data: {
                labels: tenor,
                datasets: [{
                    label: legend1,
                    backgroundColor: 'rgb(48,55,120, 0)',
                    borderColor: 'rgb(48,55,120)',
                    data: data1,
                    borderWidth: 1,
                    pointStyle: 'line',
                    pointRadius: 0,
                }, {
                    label: legend2,
                    backgroundColor: 'rgb(48,55,120, 0)',
                    borderColor: 'rgb(48,55,120)',
                    borderDash: [5, 5],
                    data: data2,
                    borderWidth: 1,
                    pointStyle: 'line',
                    pointRadius: 0,
                }],
            },

            options: {
                legend: {
                    labels: {
                        usePointStyle: true,
                        padding: 20,
                    },
                },
                aspectRatio: 1.3,


            }
        });
    }


    let token = '{{ token }}';

    $.ajax({
        headers: {
            "X-CSRFToken": token
        },
        type: 'post',
        url: "{% url 'app:rates_data_graph' %}",
        success: function (output) {
            let response_json = JSON.parse(output);
            let data = response_json.data;

            for (let i = 0; i < data.length; i++) {
                chart('myChart_' + data[i].title, data[i].title, data[i].tenor, data[i].legend1, data[i].legend2, data[i].data1, data[i].data2)
            }

        }
    });

</script>


</body>

</html>