{% load static %}
{% load app_tags %}
<!DOCTYPE html>
<html lang="pl">

<head>
    <title>Treasury Quants</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    <link rel="icon" href="{% static 'assets/images/favicon.png' %}"  type="image/png">
</head>

<body>

{% include 'app/basic/navbar.html' %}

<section class="mid">
    {% include 'app/basic/middle_office.html' %}
    <section class="middle-office">
        <div class="container p-lg-40 about_us_container">
            <div class="regular-text mt-5 mb-5">
                <h1 class="font-weight-bold">Privacy Notice</h1>
                <p class="text-muted">Please read all of the following terms of our privacy notice.</p>
                <h2>1) YOUR PRIVACY</h2>
                <p>Your privacy is important to us. This notice (privacy notice) applies to personal information we
                    collect
                    from
                    you when you use this site.<br>
                    For the purposes of this privacy notice, the data controller is TREASURYQUANTS.COM LTD with its
                    address
                    20-22 WENLOCK ROAD, LONDON, EGLAND, N1 7GU and email address: contact@treasuryquants.com</p>
                <h2>2) INFORMATION WE COLLECT FROM YOU</h2>
                <p>We may collect and process the following information about you:</p>
                <ul>
                    <li>Information that you provide to us, for example when you fill out a contact or web form, or if
                        you register to receive alerts or updates
                    </li>
                    <li>Information that we obtain or learn, such as information about the browser or device you use to
                        access this site, how you use this site and the pages you visit, traffic and location data
                    </li>
                </ul>
                <p>We may also ask you for information if you experience problems when using our services. We may also
                    ask you to complete surveys for research purposes, although you don’t have to respond to these.</p>
                <p>If we have an existing relationship with you, and we are able to identify you from information
                    obtained or provided by your use of our services, we may associate those sets of information, for example to
                    enable us to respond to a query you have submitted.</p>
                <h2>3) HOW WE USE YOUR INFORMATION</h2>
                <p>We’ll only use your information where we have your consent or we have another lawful reason for using
                    it. Unless we say otherwise below, we’ll use your personal information on the basis that it’s within our
                    legitimate interests in operating and maintaining the site, and providing you with site
                    functionality and related services. We may use information provided or obtained via this site to:</p>
                <p>– Respond to your queries and feedback<br>
                    – Provide you with information, products or services you have requested or which we feel may
                    interest you, unless you tell us otherwise<br>
                    – Carry out our obligations from any commitments we have to you<br>
                    – Allow you to participate in any interactive features of our services<br>
                    – Notify you about changes to our services<br>
                    – Provide you with alerts or updates where you’ve consented to receive these by registering your
                    services<br>
                    – Undertake data analytics to improve our services<br>
                    – Detect and prevent misuse or abuse of our services</p>
                <p>We also use information to meet our compliance obligations, to comply with other laws and regulations
                    and to share with regulators and other authorities that we are subject to. This may include using it to
                    help detect  or prevent crime (including money laundering and other financial crimes). We’ll only do this on the
                    basis that it’s needed to comply with a legal obligation, it’s in our legitimate interests and that of
                    others or to prevent or detect unlawful acts.</p>
                <h2>4) WHO WE’LL SHARE YOUR INFORMATION WITH</h2>
                <p>We may share your information in order to provide you with products or services you’ve requested, if
                    we
                    have
                    a legitimate interest in doing so (for example, to manage risk, verify your identity, to combat
                    fraud,
                    abuse
                    of our site or services), or where you’ve agreed to us doing so.</p>
                <p>We may share your information with others including: other sister companies and any of our service
                    providers;
                    anyone else whose products and services you’ve requested; anyone who we’re under an obligation to
                    disclose
                    information to or where it’s in the public interest (for example to prevent or detect fraud, abuse
                    of
                    our
                    site or services).</p>
                <h2 >5) IP ADDRESSES</h2>
                <p>We may collect information about your computer (or mobile device), including where available your IP
                    address,
                    operating system and browser type, for system administration or for our own&nbsp;commercial
                    purposes.
                    This
                    is statistical data about our users’ interactions with our services and their actions and
                    patterns.</p>
                <h2 >6) COOKIES</h2>
                <p>We use cookies and similar technologies to</p>
                <p>– distinguish you from other users of this site,<br>
                    – to improve your experience when accessing our site, and,<br>
                    – to improve our main site.</p>
                <p>Information on the cookies we use and the purposes for which we use them are set out in this<br>
                    notice.</p>
                <h2 >7) HOW LONG WE’LL KEEP YOUR INFORMATION</h2>
                <p>We keep information</p>
                <p>– in line with our data retention policy and<br>
                    – in order to comply with legal or regulatory requirements or<br>
                    – for our legitimate purposes, such as responding to enquiries, and may sometimes need to keep it
                    for a
                    longer period;</p>
                <p>If we don’t need to retain it for as long, we may delete, destroy or anonymise it sooner. This
                    enables us
                    to
                    comply with legal and regulatory requirements or use it where we need to for our legitimate purposes
                    such as
                    dealing with any enquiries.</p>
                <h2 >8) TRANSFERRING YOUR INFORMATION
                    OVERSEAS</h2>
                <p>Your information may be transferred to and stored in locations outside the European Economic Area
                    (EEA),
                    including countries that may not have the same level of regulation for personal information. When we
                    do
                    this, we’ll ensure it has an appropriate level of protection and that the transfer is lawful.</p>
                <h2 >9) YOUR RIGHTS</h2>
                <p>You have a number of rights in relation to the information that we hold about you. These rights
                    include:</p>
                <p>– The right to access information we hold about you and to obtain information about how we process
                    it;<br>
                    – In some circumstances, the right to withdraw your consent to our processing of your information,
                    which
                    you
                    can do at any time. We may continue to process your information if we have another legitimate reason
                    for
                    doing so;<br>
                    – In some circumstances, the right to receive certain information you have provided to us in an
                    electronic
                    format and/or request that we transmit it to a third party;<br>
                    – The right to request that we rectify your information if it’s inaccurate or incomplete;<br>
                    – In some circumstances, the right to request that we erase your information. We may continue to
                    retain
                    your
                    information if we’re entitled or required to retain it; and,<br>
                    – The right to object to, and to request that we restrict, our processing of your information in
                    some
                    circumstances. Again, there may be situations where you object to, or ask us to restrict, our
                    processing
                    of
                    your information but we’re entitled to continue processing your information and/or to refuse that
                    request
                </p>
                <p>You can exercise your rights by contacting us using the details set out in the ‘More details about
                    your
                    information’ section below. You also have a right to complain to the UK Information Commissioner’s
                    Office by
                    visiting www.ico.org.uk or to the data protection regulator in the country where you live or
                    work.</p>
                <h2 >10) HOW WE KEEP YOUR INFORMATION SECURE</h2>
                <p>We use a range of measures to keep your information safe and secure which may include encryption and
                    other
                    forms of security. We require our staff and any third parties who carry out any work on our behalf
                    to
                    comply
                    with appropriate compliance standards including obligations to protect any information and applying
                    appropriate measures for the use and transfer of information.</p>
                <h2 >11) MORE DETAIL ABOUT YOUR INFORMATION</h2>
                <p>If you’d like further information on anything we’ve said in this privacy notice, or to contact our
                    Data
                    Protection Officer, contact us at 20-22 WENLOCK ROAD, LONDON, EGLAND, N1 7GU addressed to ‘for the
                    attention
                    of the DPO’ or email to contact@treasuryquants.com subject ‘for the attention of the DPO’.</p>
                <p>This privacy notice may be updated from time to time, and you’ll always be able to find the most
                    recent
                    version on this site.</p>
            </div>
        </div>

    </section>

    {% include "app/basic/license.html" %}
</section>





{% include "app/basic/footer.html" %}

<!-- Core JS  -->
<script src="{% static 'assets/js/jquery-2.1.3.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/chart.js' %}"></script>


</body>

</html>