{% load static %}
{% load app_tags %}
<!DOCTYPE html>
<html lang="pl">

<head>
    <title>Treasury Quants</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    <link rel="icon" href="{% static 'assets/images/favicon.png' %}" type="image/png">

</head>

<body>

{% include 'app/basic/navbar.html' %}

<section class="mid">
    {% include 'app/basic/middle_office.html' %}
    <section class="middle-office">
        <div class="container p-lg-40 about_us_container">
            <div class="regular-text mt-5 pb-5">
                <h1 class="font-weight-bold">Term of Service</h1>
                <p class="text-muted">Please read all of the following terms and conditions of service(“TERMS OF SERVICE“)
                    for the treasuryquants.com application programming interface(this “API“) before using this API.</p>
                <p class="mt-5">By continuing to access or use this API, or any service on this API, You signify YOUR
                    ACCEPTANCE OF THE TERMS OF SERVICE.</p>
                <p>TREASURYQUANTS.COM LTD. (“Treasury Quants“) reserves the right to amend, remove, or add to the Terms
                    of Service at any time, subject to the provisions of paragraph 9, below. If at any time You do not
                    wish to accept the Terms of Service, You may not access or use this API. Any terms and conditions
                    proposed by You which are in addition to or which conflict with the Terms of Service are expressly rejected
                    by Treasury Quants and shall be of no force or effect.</p>
                <h2>A. General Terms</h2>
                <p class="section-md"><strong>1. License Grant.</strong></p>
                <p class="section-sm">a) Permitted Uses. During the Term (as defined below) of Your active account
                    (“Order Form”), TreasuryQuants grants You a nonexclusive, non-transferable and limited license to access, store and use
                    (“Use”) the services provided to You hereunder (collectively, the “Services”) only as expressly permitted in
                    these Terms of Service. Each User (as defined below) may access, search, view and store a single
                    electronic copy of the data made available via the Services (“Data”) on the desktop computer of User
                    (as defined below) solely for his or her use. A User may, as part of and in the ordinary course of
                    such User’s work and to support Your primary business, use and disseminate internally within Your firm
                    (“Internally”) and externally outside of Your firm (“Externally”) a Limited Amount (as defined
                    below) of:</p>
                <p>(i) Data; and (ii) Resultant Data (as defined below). Any use or dissemination of Data Internally or
                    Externally allowed herein or otherwise consented to by Treasury Quants shall be accompanied by: (i)
                    attribution to Treasury Quants, as specified by Treasury Quants from time to time and (ii) all
                    notices contained within the Data in an unaltered state, including any copyright notice, trademark
                    or other proprietary rights notice. “Limited Amount” shall mean a de minimis amount and/or type of Data or
                    Resultant Data, in quantity, frequency of distribution and/or scope of distribution, as determined
                    in Treasury Quants’s sole judgment. “Resultant Data” shall mean data that is the output of
                    calculations performed by You or on Your behalf using Data and algorithms provided from API, provided that such
                    Data used to calculate the Resultant Data does not, in Treasury Quants’s good faith judgment, remain
                    identifiable in, and may not be readily extracted or reverseengineered from, the Resultant Data.</p>
                <p class="section-sm">b) Prohibited Uses. Except as expressly permitted in paragraphs 1(a) or 4(b) of
                    these Terms of Service,</p>
                <p>You shall not (i) distribute, copy, scrape, store, download, create derivative works or make any
                    other use of the Services, Data or Resultant Data, (ii) sell, license or distribute Data or
                    Resultant Data to third parties or (iii) store or include Data or Resultant Data in, or route the same to, any
                    database or server.</p>
                <p>Notwithstanding anything to the contrary in these Terms of Service, You (I) may not use or
                    distribute, and may not permit any third party to use or distribute, the Services, Data or Resultant Data in any
                    manner that could, in Treasury Quants’s good faith judgment, cause the Services, Data or Resultant
                    Data so used to (x) be a substitute for, or affect Treasury Quants’s ability to realize revenue in
                    connection with, the Services or Data or (y) compete with the business of Treasury Quants or its affiliates,
                    (II) agree to comply with all requirements of third-party data providers with respect to Data from such
                    third parties, and (III) shall ensure that User, if User receives software models in connection with the
                    Services, does not make such software models available to any other person or entity. You shall
                    comply with all applicable law in Your Use of the Services.</p>
                <p class="section-md"><strong>2. Access and Security.</strong></p>
                <p class="section-sm">a) Permitted Users. Only the account holder subscribed to the Services described
                    in the Order Form (each individual, a “User”) may access the Services provided pursuant to the Order Form and through a
                    unique username and password (the “User ID”). Each User must be either an employee or an individual
                    consultant of Your firm. The registration information provided to Treasury Quants with respect to each User
                    shall be accurate and truthful and You shall promptly upd ate the registration information as directed by
                    Treasury Quants. Each User may not (i) share his or her User ID with any person, (ii) permit any
                    other person to access the Services through such User’s User ID or (iii) access the Services from multiple
                    devices simultaneously. You shall comply, and shall ensure that Your Users comply, with these Terms
                    of Service and any other applicable terms and conditions governing website access set forth on this
                    API, which Treasury Quants may modify from time to time.</p>
                <p class="section-sm">b) Security. You shall notify Treasury Quants promptly in writing at the address
                    specified by Treasury Quants of any known or suspected unauthorized use of the Services, including, but not limited to,
                    User IDs, or any known or suspected breach of security, including, but not limited to, loss, theft or
                    unauthorized disclosure of the User IDs. Treasury Quants shall have the right to use and disclose
                    information obtained from or input by You and Users as part of any legal process or proceeding, as
                    required by law, to enforce the terms of any agreement between You and Treasury Quants, or as
                    otherwise permitted under the privacy policies available on this API. You have all necessary authority to
                    provide each User’s electronic mail address and other User information to Treasury Quants and to permit
                    Treasury Quants to communicate with You and Users via electronic mail, including notifying You or Users of
                    new features, services or events or consisting of selected content, and monitoring such electronic mail.
                    Treasury Quants may periodically audit and monitor (physically or electronically) the use of the
                    Services to ensure compliance with the terms herein and to maintain or improve the provision of the
                    Services.</p>
                <p class="section-md"><strong>3. Intellectual Property.</strong></p>
                <p>The Services, including each portion thereof, were developed, compiled, prepared, revised, selected
                    and arranged by Treasury Quants and others (including certain information sources) (individually and
                    collectively, “IP Rights Holders”) through the application of methods and standards of judgment
                    developed and applied through the expenditure of substantial time, effort and money and constitute
                    valuable intellectual property and trade secrets of the IP Rights Holders. You agree that You have
                    no ownership rights in or to the Services or Data and that no such rights are granted under these Terms
                    of Service or any Order Form. You shall protect the proprietary rights of the IP Rights Holders during
                    and after the Term (as defined below). You shall comply with all written requests made by IP Rights
                    Holders to protect their</p>
                <p>contractual, statutory and common law rights in the Services with the same degree of care used to
                    protect Your own proprietary rights, which in no event shall be less than reasonable efforts. You shall
                    notify Treasury Quants in writing promptly upon becoming aware of (i) any claim that the Services infringe
                    any patent, copyright, trademark or other proprietary rights or (ii) any suspected infringement by a
                    third party of any proprietary rights of Treasury Quants. You shall not use any of Treasury Quants’s or
                    its affiliates’ trademarks, trade names or service marks in any manner that creates the impression that
                    such names or marks belong to or are identified with You or that You are associated with or licensed by
                    Treasury Quants or its affiliates to use such names or marks and You acknowledge that You have no
                    ownership rights in or to any of these names or marks.</p>
                <p class="section-md"><strong>4. Term, Termination and Purge.</strong></p>
                <p class="section-sm">a) Term and Termination. The initial term for each Order Form is as set forth on
                    such Order Form and shall be renewable as set forth therein (the initial term along with any renewal term(s),
                    collectively, the “Term”). The Term may be terminated as follows: (i) You may terminate any Order Form at any time
                    upon written notice to Treasury Quants and upon payment of the charges set forth in paragraph 5(b)
                    hereof; (ii) Treasury Quants may terminate any Order Form at any time immediately upon written
                    notice to You if You breach any provision of these Terms of Service; and (iii) Treasury Quants may terminate
                    any Order Form at any time upon not less than 60 days’ prior written notice to You. If You breach or
                    threaten to breach these Terms of Service or any Order Form, Treasury Quants may suspend any portion
                    or all of the Services. Upon termination of any Order Form, You shall cease to Use the Services or
                    portion thereof covered by such Order Form, as applicable.</p>
                <p class="section-sm">b) Purge. Upon termination of any Order Form (i) You shall use Your best efforts
                    to delete promptly any Data, software models or other items provided in connection with the Services, including all copies
                    thereof and (ii) You shall provide Treasury Quants with evidence satisfactory to Treasury Quants of
                    all such deletions. You shall not be required to delete Resultant Data created before the termination of
                    such Schedule which is stored or archived in a database in compliance with these Terms of Service
                    only to the extent necessary to comply with internal audit and regulatory requirements or to the extent
                    such Data is not reasonably extricable; provided that You do not otherwise use any such Resultant
                    Data.</p>
                <p class="section-md"><strong>5. Fees and Charges.</strong></p>
                <p class="section-sm">a) Fees and Charges Generally. You agree to pay Treasury Quants the fees and
                    charges set forth on each Order Form (as such fees and charges may be modified pursuant to these Terms of Service), together
                    with any applicable taxes.</p>
                <p class="section-sm"> b) Termination Fees and Refunds. If Treasury Quants terminates any Order Form
                    pursuant to paragraph</p>
                <p>4(a)(ii) or You terminate any Order Form pursuant to paragraph 4(a)(i), You shall be liable for all
                    amounts payable pursuant to paragraph 5(a) through the date of termination plus a termination charge
                    in an amount equal to 50% of the charges calculated in accordance with each applicable Order Form for
                    the balance of the applicable Term. If Treasury Quants terminates any Order Form pursuant to paragraph
                    4(a)(iii), Treasury Quants shall refund a pro rata portion of the fees prepaid by You, if any, in an
                    amount attributable to the unused portion of the previously purchased Services under the applicable
                    terminated Order Form remaining after the date of termination or, if any fees are paid in arrears,
                    You shall be liable for all amounts payable pursuant to this paragraph 5 through the date of
                    termination. If any Order Form is terminated other than as described in this paragraph 5(b), You shall be liable for
                    all amounts payable pursuant to paragraph 5 through the date of termination of such Order Form.</p>
                <p class="section-sm">c) Quantity of Users. You may add Users at any time upon notice to Treasury
                    Quants</p>
                <p>Quants in the manner specified by Treasury Quants. If You add a User in the middle of a billing
                    period (“Additional User”), You shall pay the pro-rated portion of the additional fee for such Additional
                    User from the date the Services are first provided to such Additional User until the end of that billing
                    period and then for the remainder of the Term. The Term for each Additional User shall be the same
                    as the Term of the first-executed, theneffective Order Form. You may reduce the number of Additional
                    Users at any time upon 60 business days’ notice to Treasury Quants in the manner specified by Treasury
                    Quants. If You remove any Additional User or all of the Users, You shall pay the portion of the termination
                    fee set forth in paragraph 5(b) hereof related to such Additional User or all Users.</p>
                <p class="section-md"><strong>6. Liability.</strong></p>
                <p class="section-sm">a) Liability and Remedies. Treasury Quants, ITS AFFILIATES AND THEIR RESPECTIVE
                    SUPPLIERS AND THIRDPARTY AGENTS (COLLECTIVELY, THE “Treasury Quants GROUP”) MAKE NO WARRANTIES, EXPRESS OR IMPLIED, WITH
                    RESPECT TO THE SERVICES. YOUR USE OF THE SERVICES IS AT YOUR SOLE RISK AND THE SERVICES AND ALL PORTIONS
                    THEREOF ARE PROVIDED “AS IS” AND “AS AVAILABLE.” To the maximum extent permitted by law, You release the
                    Treasury Quants Group from all liability arising in connection with the Services, regardless of the
                    cause. In any event, to the maximum extent permitted by law, the maximum liability of the Treasury
                    Quants Group for all losses arising in connection with any Order Form or the Services shall not
                    exceed the fees paid by You to Treasury Quants for the Services during the three months preceding the first
                    loss or damage, and this shall be Your exclusive remedy. These Terms of Service shall not limit any
                    liability for death or personal injury directly resulting from negligence if and to the extent such
                    limitation would violate applicable law. You may not bring any action, regardless of form, arising
                    out of or pertaining to the Services more than one year after the cause of action has accrued. You shall
                    indemnify and hold harmless the Treasury Quants Group against any loss, claim, demand or expense
                    (including reasonable attorneys’ fees) arising in connection with Your breach of these Terms of
                    Service,  the Use of the Services by You or Your violation of any rights of a third party. No party shall be
                    liable to the other for any default (other than a failure to pay fees) resulting from force majeure,
                    which shall be deemed to include any circumstances beyond the reasonable control of the affected
                    party.
                    If You breach or threaten to breach any provision herein, Treasury Quants shall be entitled to
                    injunctive relief to enforce the provisions hereof, but nothing herein shall preclude Treasury
                    Quants from pursuing any action or other remedy for any breach or threatened breach, all of which shall be
                    cumulative. If Treasury Quants prevails in any such action, Treasury Quants shall be entitled to
                    recover from You all reasonable costs, expenses and attorneys’ fees incurred in connection therewith. You
                    agree that the dissemination by You of information similar to that provided through the Services shall be
                    deemed a breach of these Terms of Service.</p>
                <p class="section-sm">b) Indemnity. Notwithstanding any limitations contained in paragraph 6(a), but
                    subject to Your compliance with these Terms of Service, Treasury Quants shall indemnify, hold harmless and, at Treasury
                    Quants’s expense, defend You against any claim that the Services infringe any copyright, trademark or other
                    intellectual property rights; provided that: (i) You shall promptly notify Treasury Quants in
                    writing of the claim; (ii) Treasury Quants shall have sole control of the settlement and defence of any action
                    related to this indemnity;<br>
                    (iii) You shall cooperate in every reasonable way to facilitate such defense; and (iv) such claim
                    does not result from or arise in connection with Your combination of the Services with any other data,
                    product or service.</p>
                <p class="section-md"><strong>7. Services Not Investment Advice.</strong></p>
                <p>Nothing in the Services shall constitute or be construed as an offering of financial instruments or
                    as investment advice or investment recommendations (i.e., recommendations as to whether or not to
                    “buy”, “sell”, “hold”, or to enter or not to enter into any other transaction involving any specific
                    interest or interests) by Treasury Quants or its affiliates or a recommendation as to an</p>
                <p>investment or other strategy by Treasury Quants or its affiliates. No aspect of the Services is based
                    on the consideration of Your individual circumstances, and data and other information available via the
                    Services should not be considered as information sufficient upon which to base an investment
                    decision. Treasury Quants and its affiliates do not express an opinion on the future or expected value of any
                    security or other interest and do not explicitly or implicitly recommend or suggest an investment
                    strategy of any kind. The Services are not and shall not be construed as tax, accounting or
                    regulatory advice.</p>
                <p class="section-md"><strong>8. Export Control &amp; Foreign Assets Control Regulations.</strong></p>
                <p class="section-sm">a) Treasury Quants does not represent that materials in the Services are
                    appropriate or available for use in any particular location. Those who choose to access the Services do so on their own initiative
                    and are responsible for compliance with all applicable laws. By accessing the Services, You represent
                    and warrant that You are not: (i) in any country and/or region with respect to which the United States
                    maintains trade sanctions prohibiting the shipment or provision of services, goods, technology or
                    software (a “Sanctioned Jurisdiction”), or to, or for the benefit of, the government of, or a person
                    located in or normally resident of, a Sanctioned Jurisdiction; (ii) if applicable, to any national
                    of a Sanctioned Jurisdiction, wherever located;<br>
                    (iii) to anyone on the (A) Specially Designated Nationals and Blocked Persons List maintained by the
                    U.S. Department of the Treasury’s Office of Foreign Assets Control (the “SDN List”), (B) Foreign
                    Sanctions Evaders List maintained by the U.S. Department of the Treasury’s Office of Foreign Assets
                    Control (the “FSE List”), (C) U.S. Department of Commerce’s Denied Persons List or (D) U.S.
                    Department of Commerce’s Entity List ((A)-(D), the “U.S. Prohibited Party Lists”);</p>
                <p>(iv) to the extent applicable, for the purpose of providing, financing or otherwise dealing in
                    prohibited new equity or new debt of entities listed on the Sectoral Sanctions Identifications List maintained
                    by the U.S. Department of the Treasury’s Office of Foreign Assets Control (the “SSI List”); (v) to
                    anyone on any applicable government-issued restricted party list including the EU Consolidated List of
                    Designated Parties maintained by the EU, and the Consolidated List of Assets Freeze Targets
                    maintained by HM Treasury (UK) (collectively the “EU Prohibited Party Lists”); or (vi) to anyone for any
                    purpose that would be prohibited under U.S., EU or UK law, including, without limitation, nuclear, chemical
                    or biological weapons proliferation.</p>
                <p class="section-sm">b) Each time You access the Services, You shall be deemed to represent, warrant
                    and covenant to TreasuryQuants and its affiliates that You are not: (i) located in or normally resident of, or the
                    government of, any Sanctioned Jurisdiction,<br>
                    (ii) a national of a Sanctioned Jurisdiction that is, in such capacity, subject to sanctions
                    prohibitions; (iii) on any U.S. Prohibited Party List; (iv) on any EU Prohibited Party List; (v)
                    acting on behalf of or owned or controlled by any person or entity on the SDN List or FSE List; (vi) using
                    the Services in connection with providing, financing or otherwise dealing in prohibited new equity or
                    new debt of entities listed on SSI List, or entities owned or controlled by any entity on the SSI List;
                    or (vii) using the Services for any purpose that would be prohibited under U.S., EU or UK law,
                    including, without limitation, nuclear, chemical or biological weapons proliferation.</p>
                <p class="section-md"><strong>9. Miscellaneous.</strong></p>
                <p>The Treasury Quants Group shall be third-party beneficiaries with respect to Your agreements and
                    obligations under these Terms of Service and any Order Form. You may not assign any Order Form, or
                    any rights hereunder or thereunder without Treasury Quants’s prior written consent. Treasury Quants may
                    delegate certain of its responsibilities, obligations and duties hereunder to a third party or
                    affiliate for discharge of those responsibilities, obligations and duties on Treasury Quants’s behalf. These
                    Terms of Service, together with any Order Form(s), constitutes the entire agreement between the parties as
                    to the subject matter hereof and no other changes, modifications or waivers shall be binding</p>
                <p>unless in writing and signed by the parties hereto. If any provision herein is found invalid or
                    unenforceable, that provision shall be enforced to the maximum extent permissible, and the other
                    provisions shall remain in force. The headings are solely for the convenience of the parties and
                    have no legal or contractual significance. Any modifications, waivers or notifications relating to these
                    Terms of Service may be executed and delivered by facsimile, electronic mail, or other electronic means,
                    including via a website designated by Treasury Quants by completing the procedures specified on that
                    website. Any such facsimile, electronic mail transmission, or communication via such electronic
                    means shall constitute the final agreement of the parties and conclusive proof of such agreement, and
                    shall be deemed to be in writing and to have the same effect as if signed manually. You agree that You have
                    the ability to store the information delivered to You electronically such that it remains accessible to
                    You in an unchanged form. Paragraphs 1(b) and 2 through 10 hereof shall survive any termination of any
                    Order Form and shall continue in full force and effect.</p>
                <p class="section-md"><strong>10. Governing Law.</strong></p>
                <p>The courts of England have exclusive jurisdiction to settle any dispute arising out of or in
                    connection with this Agreement (including a dispute relating to the existence, validity or termination of this
                    Agreement or any non-contractual obligation arising out of or in connection with this Agreement) (a
                    “Dispute”).<br>
                    Each Party agrees that the courts of England are the most appropriate and convenient courts to
                    settle Disputes and accordingly no Party will argue to the contrary.</p>
                <h2>B. Linking and Framing.</h2>
                <p>You may not frame this API. Upon linking to this API pursuant to the Terms of Service, you will be
                    granted a non-exclusive, non-transferable, royalty-free sublicense to use the Treasury Quants mark
                    owned by Treasury Quants or its affiliates solely for providing an underlined, textual link from your web
                    site to the publicly accessible home page of this API, provided that, you do not link this API to any web
                    site containing any inappropriate, profane, defamatory, infringing, obscene, indecent, or unlawful
                    topic, name, material, or information or that violates any intellectual property, proprietary,
                    privacy, or publicity rights. You may not link your web site to any other web pages of this API and you may
                    make no other use of the marks, names, or logos of Treasury Quants or its affiliates without express
                    written permission from Treasury Quants or its affiliates. Any violation of this provision may, in Treasury
                    Quants’s or any of its affiliate’s discretion, result in termination of your use of and access to
                    this API effective immediately.</p>
                <h2>C. Inquiries Regarding this API’s Content</h2>
                <p>For inquiries, you should contact Treasury Quants, at 731 20-22 Wenlock Road, London, England, N1
                    7GU, e-mail: operations @treasuryquants.com or any successor operating agent or other party as specified
                    by Treasury Quants from time to time.</p>
                <h2>E. Intellectual Property Issues</h2>
                <p class="section-md"><strong>1. General Inquiries.</strong></p>
                <p>Please send general inquiries regarding intellectual property issues to
                    contact@treasuryquants.com.</p>
                <p class="section-md"><strong>2. Copyright Agent for Copyright Infringement Claims (Digital Millennium
                    Copyright Act).</strong>
                </p>
                <p>The designated agent to receive notification of claimed infringement under Title II of the Digital
                    Millennium Copyright Act is: Treasury Quants, 20-22 Wenlock Road, London, England, N1 7GU, email:operations@treasuryquants.</p>
                <p class="section-md"><strong>3. Trademark Notice.</strong></p>
                <p>The following are trademarks and service marks of Treasury Quants, a U.K limited company, or its
                    subsidiaries: Treasury Quants, TreasuryQuants and TreasuryQuants.com. Absence of any trademark or
                    service mark from this list does not waive Treasury Quants’s intellectual property rights in that
                    name, mark or logo. All rights reserved.</p>
            </div>
        </div>
    </section>
    {% include "app/basic/license.html" %}
</section>


{% include "app/basic/footer.html" %}

<!-- Core JS  -->
<script src="{% static 'assets/js/jquery-2.1.3.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/chart.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>


</body>

</html>