{% load static %}
{% load app_tags %}
<!DOCTYPE html>
<html lang="en">


<head>
    <title>Treasury</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    <link rel="icon" href="{% static 'assets/images/favicon.png' %}">
</head>

<body>

{% include 'app/basic/navbar.html' %}

<section class="page-banner" style="background: #181717; padding-bottom: 0;">
    <div class="container-fluid">
        <div class="page-title">Workbench</div>
    </div>
</section>

<section class="container-fluid page-subtitle">

    {% block tab_menu %}
    <div style="text-align: center">
         <a href="{% url 'account_cycle:login' %}">
             <span class="px-2 d-md-inline-flex d-sm-block tab active">
                Login
             </span>
         </a>
        <a href="{% url 'account_cycle:login' %}">
            <span class="px-2 d-md-inline-flex d-sm-block tab " style="border-left: 1px solid grey;">
                 Create Account
            </span>
        </a>
        <a href="{% url 'account_cycle:password_reset' %}">
            <span class="px-2 d-md-inline-flex d-sm-block tab " style="border-left: 1px solid grey;">
                 Reset Password
            </span>
        </a>
    </div>
    {% endblock %}

</section>


<section class="body">

    <div class="container p-lg-20-60" style="max-width: 800px;" >
    {% block tab_body %}
            <p id="api-names">
        <select id="api-list" name="api-list" onchange="print_form(this.value)">
        </select>
        <form action="" method="post" enctype="multipart/form-data" id="api-form">
            <p id="api-entries">
            </p>
            <button class="btn btn-primary mt-4 pull-right" style="float: right" type="button" onclick="calculate()">Calculate</button>
            <div style="clear: both"></div>
        </form>
    {% endblock %}
        <div id="token"></div>
        <div id="token_expiry"></div>
        <div id="msg"></div>
        <div id="request"></div>
        <div id="result"></div>
        <div id="email"></div>
    </div>
</section>


<script src="{% static 'assets/js/jquery-2.1.3.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script>

/*
Notes
=====
This page is meant to be a simple workbench exposing our apis to the user.
Like any function, our apis will have different number of input arguments as well as output results.
Furthermore, each argument and each result can, and most of the time will, have different types.
The objective of the design is to introduce these api in a cohesive and intuitive manner 
The design is simple. User selects an api name (function name) from the main combo list from the top.
A dynamic form is then created based on the chosen api's specification. Once the final submission
button is clicked, there will be a validation, request creation and api call over http. The results
are then parsed and placed in various locations on the screen.

API Specification
=================
Each api specification provides the arguments, argument_labels, argument_types and argument_optionals.
- arguments are used when building the api request
- argument_labels are used to print the argument names in a more user friendly manner
- argument_types are used to create the appropriate input fields as well as validating the input values
- argument_optionals are used for validating the input and accepting empty values.

Data Type Specification
=======================
Data types used for argument_type processing cover a range of types from number to various combo lists.

Each type covers type, width, init_values and default.
- type is the type name that is used to distinguish this type from others.
- width is the width of the input filed that is meant to be the same for each type all its instantiations.
- init_values are used for combo list.
- default is either used for list. it takes an integer or the tag "last". When the default value is an integer, we show the list selected on that entry. When the default is set at "last" we will set the last entry as selected.
* note: there are two types that are dynamic: 1) TYPE_MARKET_DATES and 2) TYPE_TRADE_LIST. TYPE_MARKET_DATES should be populated only once and only when the page is loaded. TYPE_TRADE_LIST is populated at the beginning and at each time a trade is saved.
*/






// 
// declaring  the data type specifications
// 
var data_type_spec = {
      'TYPE_NUMBER': {'type': 'number', 'width': '10', 'init_values': [], 'default':''}
    , 'TYPE_STRING': {'type': 'string', 'width': '10', 'init_values': [], 'default':''}
    , 'TYPE_DATE': {'type': 'date', 'width': '10', 'init_values': [], 'default':''}
    , 'TYPE_BOOLEAN': {'type': 'combo', 'width': '10', 'init_values': ['true', 'false'], 'default':'0'}
    , 'TYPE_BUSINESS_CENTRE': {'type': 'combo', 'width': '10',
                                'init_values': ['none', 'frankfort', 'london', 'milan', 'newyork', 'paris', 'target',
                                                'tokyo', 'zurich'],'default':'0'}
    , 'TYPE_DISCOUNT_CURVE': {'type': 'combo', 'width': '10',
                               'init_values': ['usd.ois','chf.ois', 'eur.ois', 'gbp.ois', 'jpy.ois' ],'default':'0'}
    , 'TYPE_LIBOR_CURVE': {'type': 'combo', 'width': '10',
                            'init_values': ['usd.libor6m','chf.libor3m', 'chf.libor6m', 'eur.libor3m', 'eur.libor6m', 'gbp.libor3m',
                                            'gbp.libor6m', 'jpy.libor3m', 'jpy.libor6m', 'usd.libor3m' ],'default':'0'}
    , 'TYPE_CURRENCY': {'type': 'combo', 'width': '10', 'init_values': ['usd', 'gbp', 'eur', 'chf', 'jpy'],'default':'0'}
    , 'TYPE_ELEMENT_DESCRIBE': {'type': 'combo', 'width': '10',
                                 'init_values': ['','book', 'describe', 'formatted_grid_swap_rates', 'market_fx_rates',
                                                 'market_swap_rates', 'pnl_attribute', 'pnl_predict', 'price',
                                                 'price_fx_forward', 'price_vanilla_swap', 'risk_ladder',
                                                 'show_available', 'workspace'],'default':'0'}
    , 'TYPE_ELEMENT_SHOW_AVAILABLE': {'type': 'combo', 'width': '10',
                                       'init_values': ['','asof_dates', 'daycounts', 'calendar', 'business_day_rule',
                                                       'libor_curves', 'discount_curves'],'default':'0'}
    , 'TYPE_MARKET_DATES': {'type': 'combo', 'width': '10',
                               'init_values': [],'default':'last'}
    , 'TYPE_TRADE_LIST': {'type': 'combo', 'width': '10',
                               'init_values': [],'default':'0'}
    , 'TYPE_SWAP_TYPES': {'type': 'combo', 'width': '10',
                               'init_values': ['ir_vanilla_swap'],'default':'0'}
    , 'TYPE_FXFWD_TYPES': {'type': 'combo', 'width': '10',
                               'init_values': ['fx_forward'],'default':'0'}
    , 'TYPE_PERIOD': {'type': 'combo', 'width': '10',
                               'init_values': ['3m', '6m', '1y'],'default':'0'}
    , 'TYPE_DAYCOUNT': {'type': 'combo', 'width': '10',
                               'init_values': ['act/360','act/365','30/360', 'act/act', '30/360eu','30/360_us','30/360_isda' ],'default':'0'}
    , 'TYPE_BUSINESS_DAY_RULE': {'type': 'combo', 'width': '10',
                               'init_values': ['none','modified_following','modified_precedent', 'following', 'precedent'],'default':'0'}
    };






// 
// declaring each api specification separately (rather than all of the together for readability)
// 


// 
// api:show_available
// 
var _show_available={
    'name':'show_available'
    ,'arguments': ['element']
    ,'argument_labels': ['element']
    ,'argument_optionals': [1]
    ,'argument_types': ['TYPE_ELEMENT_SHOW_AVAILABLE']
    }

// 
// api:describe
// 
var _describe={
    'name':'describe'
    ,'arguments': ['element']
    ,'argument_labels': ['element']
    ,'argument_optionals': [1]
    ,'argument_types': ['TYPE_ELEMENT_DESCRIBE']
    }

// 
// api:market_swap_rates
// 
var _market_swap_rates={
    'name':'market_swap_rates'
    ,'arguments': ['asof', 'currency']
    ,'argument_labels': ['As of', 'Currency']
    ,'argument_optionals': [0,0]
    ,'argument_types': ['TYPE_MARKET_DATES','TYPE_CURRENCY']
    }


// 
// api:market_fx_rates
// 
var _market_fx_rates={
    'name':'market_fx_rates'
    ,'arguments': ['asof', 'to_date', 'base_currency']
    ,'argument_labels': ['As of', 'To Date','Base Currency']
    ,'argument_optionals': [0,0,0]
    ,'argument_types': ['TYPE_MARKET_DATES','TYPE_DATE','TYPE_CURRENCY']
    }


// 
// api:price_fx_forward
// 
var _price_fx_forward={
    'name':'price_fx_forward'
    ,'arguments': ['type','asof',  'trade_date', 'trade_expiry', 'pay_amount', 'pay_currency',
                           'receive_amount', 'receive_currency','save_as' ]
    ,'argument_labels': ['Type', 'As of','Trade Date', 'Expiry', 'Pay Amount', 'Pay Currency',
                           'Receive Amount', 'Receive Currency','Save as']
    ,'argument_optionals': [0,0,0,0,0,0,0,0,1]
    ,'argument_types': ['TYPE_FXFWD_TYPES','TYPE_MARKET_DATES','TYPE_DATE','TYPE_DATE','TYPE_NUMBER','TYPE_CURRENCY','TYPE_NUMBER','TYPE_CURRENCY','TYPE_STRING']
    }

// 
// api:price_vanilla_swap
// 
var _price_vanilla_swap={
    'name':'price_vanilla_swap'
    ,'arguments': ['type','asof', 'notional', 'trade_date', 'trade_maturity', 'index_id',
                             'discount_id', 'floating_leg_period', 'fixed_leg_period', 'floating_leg_daycount',
                             'fixed_leg_daycount', 'spread', 'fixed_rate', 'is_payer', 'business_day_rule',
                             'business_centres', 'spot_lag_days','save_as' ]
    ,'argument_labels': ['Type', 'As of', 'Notional', 'Trade Date', 'Trade Maturity', 'Index Id',
                             'Discount Curve', 'Floating Leg Period', 'Fixed Leg Period', 'Floating Leg Daycount',
                             'Fixed Leg Daycount', 'Spread', 'Fixed Rate', 'Is Payer', 'Business Day Rule',
                             'Business Centre', 'Spot Lag(days)','Save as']
    ,'argument_optionals': [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1]
    ,'argument_types': [
    'TYPE_SWAP_TYPES',
    'TYPE_MARKET_DATES',
    'TYPE_NUMBER',
    'TYPE_DATE',
    'TYPE_STRING',
    'TYPE_LIBOR_CURVE',
    'TYPE_DISCOUNT_CURVE',
    'TYPE_PERIOD',
    'TYPE_PERIOD',
    'TYPE_DAYCOUNT',
    'TYPE_DAYCOUNT',
    'TYPE_NUMBER',
    'TYPE_NUMBER',
    'TYPE_BOOLEAN',
    'TYPE_BUSINESS_DAY_RULE',
    'TYPE_BUSINESS_CENTRE',
    'TYPE_NUMBER',
    'TYPE_STRING']
    }

// 
// api:price
// 
var _price={
    'name':'price'
    ,'arguments': ['asof', 'load_as']
    ,'argument_labels': ['As of', 'Load as']
    ,'argument_optionals': [0,0]
    ,'argument_types': ['TYPE_MARKET_DATES','TYPE_TRADE_LIST']
    }


// 
// api:risk_ladder
// 
var _risk_ladder={
    'name':'risk_ladder'
    ,'arguments': ['asof', 'load_as']
    ,'argument_labels': ['As of', 'Load as']
    ,'argument_optionals': [0,0]
    ,'argument_types': ['TYPE_MARKET_DATES','TYPE_TRADE_LIST']
    }


// 
// api:pnl_predict
// 
var _pnl_predict={
    'name':'pnl_predict'
    ,'arguments': ['from_date', 'to_date', 'load_as']
    ,'argument_labels': ['Date(from)', 'Date (to)', 'Load as']
    ,'argument_optionals': [0,0,0]
    ,'argument_types': ['TYPE_MARKET_DATES','TYPE_MARKET_DATES','TYPE_TRADE_LIST']
    }


// 
// api:pnl_attribute
// 
var _pnl_attribute={
    'name':'pnl_attribute'
    ,'arguments': ['from_date', 'to_date', 'load_as']
    ,'argument_labels': ['Date(from)', 'Date (to)', 'Load as']
    ,'argument_optionals': [0,0,0]
    ,'argument_types': ['TYPE_MARKET_DATES','TYPE_MARKET_DATES','TYPE_TRADE_LIST']
    }


// 
// create a dictionary of all api specification
// 
api_specs={'pnl_attribute':_pnl_attribute,
   'pnl_predict':_pnl_predict,
   'risk_ladder':_risk_ladder,
   'price':_price,
   'price_vanilla_swap':_price_vanilla_swap,
   'price_fx_forward':_price_fx_forward,
   'market_fx_rates':_market_fx_rates,
   'market_swap_rates':_market_swap_rates,
   'describe':_describe,
   'show_available':_show_available
    }

// 
// Populates the list for any type that contains a selection
// 
function get_list(id,list, default_value){

    var content= "<select id=\""+id+"\" name=\""+id+"\">";
    for ( j=0; j<list.length; ++j){

        content+="<option value=\""+list[j]+"\"";
        if (default_value=='last' && j==list.length-1){
            content += " selected ";
        }
        else if (default_value == j){
            content += " selected ";
        }
        content+=">"+list[j]+"</option>";
    }
    content+="</select>";

    return content;
}

// 
// Provides an input object such as a text box or a list, etc. depending on the type of the input (see data_type_spec)
// 
function get_input_object(argument,argument_text,argument_optional,argument_type, argument_default){
    var simple_type_content="<input ";
        simple_type_content+=" class=\"form-control\" id=\""+argument+"\" name=\""+argument+"\"";
        simple_type_content+= " type=\"email\"";
        simple_type_content+= " >";

    var content="";

    switch(argument_type){
    case 'TYPE_NUMBER':
    case 'TYPE_STRING':
    case 'TYPE_DATE':
        content="<input class=\"form-control\" id=\""+argument+"\" name=\""+argument+"\" type=\"text\">";
        break;
    case 'TYPE_BOOLEAN':
        content=get_list(argument,data_type_spec['TYPE_BOOLEAN']['init_values'],argument_default);
        break;
    case 'TYPE_BUSINESS_CENTRE':
        content=get_list(argument,data_type_spec['TYPE_BUSINESS_CENTRE']['init_values'],argument_default);
        break;
    case 'TYPE_DISCOUNT_CURVE':
        content=get_list(argument,data_type_spec['TYPE_DISCOUNT_CURVE']['init_values'],argument_default);
        break;
    case 'TYPE_LIBOR_CURVE':
        content=get_list(argument,data_type_spec['TYPE_LIBOR_CURVE']['init_values'],argument_default);
        break;
    case 'TYPE_CURRENCY':
        content=get_list(argument,data_type_spec['TYPE_CURRENCY']['init_values'],argument_default);
        break;
    case 'TYPE_TRADE_LIST':
        content=get_list(argument,data_type_spec['TYPE_TRADE_LIST']['init_values'],argument_default);
        break;
    case 'TYPE_ELEMENT_DESCRIBE':
        content=get_list(argument,data_type_spec['TYPE_ELEMENT_DESCRIBE']['init_values'],argument_default);
        break;
    case 'TYPE_MARKET_DATES':
        content=get_list(argument,data_type_spec['TYPE_MARKET_DATES']['init_values'],argument_default);
        break;
    case 'TYPE_ELEMENT_SHOW_AVAILABLE':
        content=get_list(argument,data_type_spec['TYPE_ELEMENT_SHOW_AVAILABLE']['init_values'],argument_default);
        break;
    case 'TYPE_SWAP_TYPES':
        content=get_list(argument,data_type_spec['TYPE_SWAP_TYPES']['init_values'],argument_default);
        break;
    case 'TYPE_FXFWD_TYPES':
        content=get_list(argument,data_type_spec['TYPE_FXFWD_TYPES']['init_values'],argument_default);
        break;
    case 'TYPE_PERIOD':
        content=get_list(argument,data_type_spec['TYPE_PERIOD']['init_values'],argument_default);
        break;
    case 'TYPE_DAYCOUNT':
        content=get_list(argument,data_type_spec['TYPE_DAYCOUNT']['init_values'],argument_default);
        break;
    case 'TYPE_BUSINESS_DAY_RULE':
        content=get_list(argument,data_type_spec['TYPE_BUSINESS_DAY_RULE']['init_values'],argument_default);
        break;
    default:
        content="<input class=\"form-control\" id=\""+argument+"\" name=\""+argument+"\" type=\"text\">";
    }



    return content;
}

// 
// Provides the original api list combo for the user to select
// 
function get_api_list(){
    var content="";
    for (var key in api_specs) {
        if (api_specs.hasOwnProperty(key)) {
            content+= "<option value=\""+key+"\">"+key+"</option>";
        }
    }
    return content;
}



// 
// This is the dynamic form to be created when the use changes the selection in the api list.
// 
function print_form(choice){

    clear_output()


    var chosen_function_name=choice;

    var function_spec=api_specs[chosen_function_name];

    var name=function_spec['name'];
    var arguments=function_spec['arguments'];
    var argument_labels=function_spec['argument_labels'];
    var argument_optionals=function_spec['argument_optionals'];
    var argument_types=function_spec['argument_types'];



    var form_content="";
    for ( i = 0 ; i < arguments.length; i++){

        var argument=arguments[i];
        var argument_label=argument_labels[i];
        var argument_optional=argument_optionals[i];
        var argument_type=argument_types[i];



        var default_value=data_type_spec[argument_type]['default'];
        form_content+="<label class=\"form-control-label\">"+argument_label+"</label>";
        form_content+= get_input_object(argument,argument_label,argument_optional,argument_type,default_value);
        form_content+="<br>";


    }

    //  finished building the form for this given api. Expose it in the page.
    document.getElementById("api-entries").innerHTML =form_content;
}


// 
// A general function to clear the output once an api is
// selected to ensure all previous messages are reset.
// 
function clear_output(){
 $('#msg').text('');
 $('#request').text('');
}




// 
// Performs the validation and processes the form. starts by validating the each field,
// building a request, sending it and treat the ouput results
// 
function calculate(){


    var function_name=$('#api-list').val();

    var function_spec=api_specs[function_name];

    var name=function_spec['name'];
    var arguments=function_spec['arguments'];
    var argument_labels=function_spec['argument_labels'];
    var argument_optionals=function_spec['argument_optionals'];
    var argument_types=function_spec['argument_types'];


    // 
    //  validation section
    // 

    if (function_name.trim()==''){
        return;
    }

    var argument_values=[];

    var i = 0;

    var arguments_dictionary={};

    var is_error=false;

    for (i=0; i< arguments.length; ++i){
        var argument = arguments[i];
        var argument_value=$('#'+argument).val();


        // 
        //     validate argument_value by type and optional
        // 
        var value=argument_value.trim();
        if (argument_optionals[i]!=1 && value==''){
            is_error=true;
            $('#msg').text(argument_labels[i]+" cannot be empty.");
            break;
        }

        if (argument_types[i]=='TYPE_NUMBER' && !is_valid_number(value)){
            is_error=true;
            $('#msg').text(argument_labels[i]+" should be numeric.");
            break;
        }


        if (argument_types[i]=='TYPE_DATE' && (value=='' || !is_valid_date(value))){
            is_error=true;
            $('#msg').text(argument_labels[i]+" should be a valid date in the following format: yyyymmdd.");
            break;
        }

        argument_values.push(argument_value);
        arguments_dictionary[arguments[i]]=argument_value;
    }

    // 
    //  If no error, we call the api with the corresponding callback function to consume the results
    // 

    if (!is_error){
        api_call(function_name,arguments_dictionary, callback_nothing);
    }
}


// 
// Market dates callback function to treat the response
// 
function callback_fill_market_dates(data, request){
    results=data['Response']['Results'];
    keys=Object.keys(results);
    data_type_spec['TYPE_MARKET_DATES']['init_values']=keys;
}

// 
// Trade id's callback function to treat the response
// 
function callback_fill_trade_ids(data, request){
    results=data['Response']['Results'];
    keys=Object.keys(results);
    data_type_spec['TYPE_TRADE_LIST']['init_values']=keys;
}


// 
// General callback function to treat the response
// 

function callback_nothing(data, request){

 var output_div = document.getElementById('msg');
 var request_div = document.getElementById('request');
 var result_div = document.getElementById('result');
 var results={};
 if (data['Response']['focus']=='errors'){
  results=data['Response']['Errors'];
 }
 else{
  results=data['Response']['Results'];
 }

 var cntr=0;
 var output_content='';
 var keys=Object.keys(results);
 for (cntr=0;cntr<keys.length;++cntr){
    output_content+=keys[cntr]+":"+results[keys[cntr]]+ "<br>"
 }
 output_div.innerHTML=output_content;
 request_div.innerHTML=request;
 result_div.innerHTML=JSON.stringify(data);
}

// 
// Token Create callback function to treat the response
// 
function callback_account_token_create(data, request){
    if (data['Response']['focus']=='errors'){

        callback_nothing(data, request);
        return;
    }
   var token=data['Response']['Results']['account_token_create'];
   $('#token').text(token);
   var expiry_in_minutes=data['Response']['expiry_minutes'];
   expiry_in_minutes = Math.floor(expiry_in_minutes);
   var now = new Date();
   now.setMinutes(now.getMinutes() + expiry_in_minutes); //  timestamp
   now = new Date(now); //  Date object
   $('#token_expiry').text(now.toISOString ());
}



//
//  ** DEPRICATED **
// This function is called after a successful validation of the input data.
//
function create_user_request(function_name,arguments, callback_function){
    arguments['user_email']=sessionStorage.getItem('user_email');
    //arguments['user_email']="test.account@treasuryquants.com";

    var request={   'function_name':function_name,
                    'arguments':arguments,
                    'source_caller': document.location.href + ":"+function_name
                    };

    let token = '{{csrf_token}}';


    $.ajax({
            headers: {
                "X-CSRFToken": token
            },
            type:    'post',
            url:     "{% url 'app:api_gateway' %}",
            data:    JSON.stringify(request),

            success: function (data){


               var keys=[];
               var values=[];


               if (data.error){
                   $('#msg').text(JSON.stringify(data['error']));
               }
               else{
                   var results=data['results'];
                   for (var key in results) {
                        keys.push(key);
                        if (results.hasOwnProperty(key)) {
                            values.push(results[key]);
                        }
                    }


                    callback_function(keys,values);

               }


            }
    });

}







function load_asof_dates(){

    var function_name='show_available';
    arguments={'element':'asof_dates'};
    api_call(function_name,arguments, callback_fill_market_dates);

}

function load_trade_ids(){
    var function_name='workspace';
    arguments={'list':'all'};
    api_call(function_name,arguments, callback_fill_trade_ids);
}





function is_valid_number(value){
     return !isNaN(value * 1);
}

function is_valid_date(str){
    // str is assumed to be YYYYMMDD

    str = str.toString();

    try{
      var year = str.substring(0, 4);
      var month = str.substring(4, 6);
      var day = str.substring(6, 8);
      var str_reformatted=year+"-"+month+"-"+day+" 00:00";
      var date = new Date(str_reformatted);
      return is_valid_number(date.getTime());
      }
    catch(err){
      return false;
    }
}











function argument_make_string(function_name,arguments){
   arguments['function_name']=function_name;
   var i=0;
   var argument_string='';
   length=Object.keys(arguments).length;
    for (var key in arguments) {
        if (arguments.hasOwnProperty(key)) {
            argument_string+= key+'='+arguments[key];
        }
        if(i<length-1){
           argument_string+='&';
        }
        i++;
    }
    return argument_string;
}



function obtain_or_refresh_token(){
    var email= "{{ user_email|safe }}";

    if ($('#token').text().trim()==''){
        var arguments={'email':email};
        api_call('account_token_create',arguments,callback_account_token_create);
        return $('#token').text();
    }
    var expiry=Date.parse($('#token_expiry').text());
    var diff_second =(expiry - new Date()) / 1000;
    var diff_minutes=Math.round( diff_second/60);
    if ($('#token').text().trim()==''|| diff_minutes<2){
        var arguments={'email':email};
        api_call('account_token_create',arguments,callback_account_token_create);
    }

     var email_div = document.getElementById('email');
     email_div.innerHTML=JSON.stringify(email);


    return $('#token').text();
}




async function asyncFetch(url, requestOptions,callback_function) {
    let response = await fetch(url,requestOptions);
    let data = await response.json();
    callback_function(data,requestOptions.body);
    //console.log("Result:"+JSON.stringify(data));
}



function api_call(function_name,arguments,callback_function){
    var url= "{{ target_url|safe }}";
    arguments['function_name']=function_name;
    if(function_name!='account_token_create'){
        var token = obtain_or_refresh_token();

        arguments['token']=token;
    }

    var arguments_string=argument_make_string(function_name,arguments);
    //console.log("request:"+JSON.stringify(arguments_string));
    const requestOptions = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: arguments_string
        };


     asyncFetch(url, requestOptions,callback_function);

}





setTimeout(obtain_or_refresh_token,1000);
setTimeout(load_asof_dates,2000);
setTimeout(load_trade_ids,2000);
setTimeout(function (){document.getElementById("api-list").innerHTML =get_api_list();},2000);








</script>
{% include "app/basic/footer.html" %}

</body>

</html>


