@font-face {
    font-family: 'Helvetica Neue LT Pro 55 Roman';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue LT Pro 55 Roman'), url('../fonts/HelveticaNeueLTProRoman.woff') format('woff');
}


:hover {
    transition: 0.6s;
}

a {
    text-decoration: none !important;
}

body {
    font-family: 'Helvetica Neue LT Pro 55 Roman';
}

p {
    font-size: 18px;
    color: #252a32;
    line-height: 36px;
}

.container {
    width: 95%;
    max-width: 1632px;
}

video, iframe {
    border-radius: 15px;
}


header.header {
    position: relative;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.header .navbar .nav-item {
    padding: 12px 7px;
}

.header .navbar .nav-link {
    font-size: 18px;
    color: #465373;
    position: relative;
}

.header .navbar .nav-link:before {
    position: absolute;
    left: 0;
    bottom: -22px;
    width: 0%;
    height: 3px;
    background: #4f78e0;
    content: '';
    margin: 0 auto;
    transition: all .2s ease;
}

.header .navbar .nav-link:hover:before {
    width: 100%;
}

.header .navbar .nav-link.active {
    color: #4f78e0;
}

.header .search-form {
    display: flex;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.header .search-form input {
    border: none;
    font-size: 16px;
    color: #465373;
}

.header .search-form input:focus {
    box-shadow: none !important;
    outline: none !important;
}

.mid {
    background: #fcfdff;
    padding: 30px 0 0;
}

.btn-primary {
    font-size: 16px;
    background: #4f78e0;
    font-weight: 400;
    border: solid 1px #4f78e0;
    padding: 8px 20px;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background: #3657ab !important;
    border-color: #3657ab !important;
    color: #fff !important
}

.middle-office h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #252a32;
    margin-bottom: 20px;
}

.middle-office h4 {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: #252a32;
    margin-bottom: 20px;
}

.one-usd {
    border: 1px solid #e7e8f1;
    background: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.one-usd h2 {
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
}

.green-text {
    color: #16a663;
}

.red-text {
    color: #ee3f5f;
}

.one-usd ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.one-usd ul li {
    list-style: none;
    width: 33.33%;
    border-right: 2px solid #f3f3f8;
    border-top: #f4f5f9 2px solid;
    padding-bottom: 5px;
}


.headings-section {
    border-bottom: #f4f5f9 2px solid;
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.headings-section div {
    width: 25%;
    padding: 0 15px;
    font-weight: 700;
    text-align: right;
}

.charges-section {
    display: flex;
    align-items: center;
    padding: 4px 0 4px;
}

.charges-section div {
    width: 27.33%;
    padding: 0 15px;
    text-align: right;
}

.charges-section div:first-child {
    padding-left: 20px;
    text-align: left;
    width: 18%;
}

.changes-detail-sec {
    margin: 25px 0;
}

.changes-detail-sec ul {
    margin: 0 -10px;
    padding: 0;
    display: flex;
}

.changes-detail-sec ul li {
    list-style: none;
    width: 20%;
    padding: 0 10px;
}


.changes-detail-main {
    border: 1px solid #e8e9f2;
    background: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    padding-bottom: 5px;
    border-radius: 5px;
}

.country-section {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e8e9f2;
}

.country-section h3 {
    font-size: 20px;
    font-weight: 700;
    color: #252a32;
    margin: 8px 0;
}


.footer {
    padding: 30px 0;
    box-shadow: 0 -18px 23px 0 rgba(0, 0, 0, 0.1);
}

.footer-left {
    display: flex;
}

.footer-logo {
    margin-right: 60px;
    margin-top: 5px;
}

.address p {
    margin-bottom: 0;
    font-size: 18px;
    color: #465373;
    line-height: 1.25;
}

.address a {
    color: #465373;
}

.address a:hover {
    color: #4f78e0;
}

.copyright p {
    text-align: right;
    font-size: 18px;
    color: #465373;
    margin-bottom: 0;
}

.country-section h3 img {
    margin-top: -3px;
}

.license-main {
    padding: 80px 0 120px;
}

.license-fee {
    padding-left: 25px;
}

.license-fee h2 {
    font-size: 36px;
    font-weight: 700;
    color: #252a32;
    line-height: 42px;
    margin-bottom: 20px;
}

.license-fee a {
    color: #4f78e0;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid #4f78e0;
    border-radius: 5px;
    padding: 10px 60px;
    margin-top: 30px;
    display: inline-block;
}

.license-fee a:hover {
    color: #fff;
    background: #4f78e0;
}

.bg-white-chart {
    background: #fff;
    border: 1px solid #e8e9f2;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.headings-section div:first-child {
    width: 18%
}

.headings-section div {
    width: 27.33%;
}

.one-usd ul li .headings-section div:first-child {
    width: 25%
}

.one-usd ul li .headings-section div {
    width: 25%
}

.one-usd ul li .charges-section div:first-child {
    width: 25%;
    font-size: 15px
}

.one-usd ul li .charges-section div {
    width: 25%
}

.login-container {
    max-width: 530px;
    margin-top: 50px;
}

.login-container .changes-detail-main {
    padding: 50px 28px;
}

.login-container span {
    color: #465373a8;
}

.login-container .description {
    padding-top: 30px;
    margin-bottom: 10px;
    display: none;
}

.login-container form {
    margin-top: 30px;
}

.flag {
    width: 30px;
}

.custom-control-input-green:focus ~ .custom-control-label::before {
    border-color: #4f78e0 !important;
    /*box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;*/
}

.custom-control-input-green:checked ~ .custom-control-label::before {
    border-color: #4f78e0 !important;
    background-color: #4f78e0 !important;
}

.custom-control-input-green:focus:not(:checked) ~ .custom-control-label::before {
    border-color: #4f78e0 !important;
}

.custom-control-input-green:not(:disabled):active ~ .custom-control-label::before {
    background-color: #d6f5dd !important;
    border-color: #4f78e0 !important;
}

.custom-control-label:focus {
    outline: -webkit-focus-ring-color auto 0;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, .25);
}

.license-main video {
    object-fit: cover;
    background: black;
}

video:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

.input-group-text {
    background: #fff;
    font-size: 1rem;
}

.input-group-text i {
    color: #4653734a;
}

.input-group .form-control, a {
    border-left-width: 0;
    padding-left: 0;
    font-size: 1rem;
    color: #465373a8;
}

.input-group .form-control::placeholder, .custom-control-label {
    color: #465373a8;
}

.form-control:focus {
    border-color: #ced4da;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, .25);
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #465373a8 !important;
}

input:-webkit-autofill::first-line {
    font-size: 1rem;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
label:before {
    outline: 0 !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

span.spinner-border-sm {
    color: white;
    margin-left: 10px;
}

#loading-icon, #loading-icon-ip, #loading-icon-password {
    display: none;
}

#msg {
    color: black;
}

i {
    width: 1rem;
}

.text-primary {
    color: #4f78e0 !important;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #fff;
    opacity: 1;
}

.profile-table {
    width: 100%;
    max-width: 960px;
}

table, tr, td {
    border-top: 1px solid #80808040;
    border-bottom: 1px solid #80808040;
    vertical-align: center;
    padding: 24px 0px;
}

.regular-text li {
    font-size: 18px;
    color: #252a32;
    line-height: 36px;
}


td {
    padding: 24px 10px 24px 0;
}

.modal-header, .modal-body {
    padding: 1.2rem 2rem;
}

.about_us_container {
    max-width: 960px;
}

.about_us_container h2 {
    margin-top: 30px;
    text-align: left;
    font-size: 24px;
}

strong {
    font-weight: 700;
    color: black;
}

.maxWidth840 {
    max-width: 840px;
}

.text-sm {
    font-size: 0.875rem;
}

#modal-cookies .modal-body {
    position: relative;
    padding: 1.5rem;
    flex: 1 1 auto;
}

.line-height-15 {
    line-height: 1.5;
}

.bg-dark-dark {
    background-color: #0a081f !important;
}

.left-4 {
    left: 1.5rem !important;
}

.bottom-4 {
    bottom: -1.5rem !important;
}

.right-4 {
    right: 1.5rem !important;
}

.modal-content {
    border: 0;
    border-radius: 5px;
}

.modal-dialog-aside {
    position: absolute;
    margin: 0;
}

.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(0, -50px);
}

.btn-white {
    color: #273444;
    border-color: #fff;
    background-color: #fff;
    box-shadow: none;
}

.btn-sm, .btn-group-sm > .btn {
    font-size: .875rem;
    line-height: 1.5;
    padding: .5rem 1.25rem;
    border-radius: .375rem;
}

.dropdown-menu .nav-item1 {
    padding: 5px 12px;
    line-height: 24px;
}

.header .navbar .dropdown-menu .nav-link:before {
    display: none;;
}


.header .navbar .dropdown-menu .nav-link:hover {
    color: #4f78e0;
}

.regular-text h2 {
    margin-top: 48px;
    margin-bottom: 12px;
}

.regular-text p {
    margin-bottom: 0;
}

.regular-text .section-md {
    margin-top: 24px;
}

.regular-text .section-sm {
    margin-top: 24px;
}

.grid-mother {
    display: grid;
    grid-template-columns: 14% 18% 24% 24% 14% 7%;
}

.user-information {
    margin-top: 36px;
    margin-bottom: 60px;
}

.grid-mother p {
    line-height: 1.5;
    margin-bottom: 0;
}

.grid-mother div p:first-child {
    font-weight: bold;
    padding-top: 24px;
}

.grid-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 20px;

}

.grid-board > div {
    border: 1px solid #e8e9f2;
    background: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.board-title {
    padding: 1rem 2rem;
    font-size: 18px;
    font-weight: bold;
    border-bottom: #f4f5f9 2px solid;
}

.board-list {
    padding: 0.8rem 1.5rem;
    background: #e9e9f3;
    width: 100%;
}

.board-list div {
    width: 100%;
    border-radius: 1.5rem;
    padding: 0 1rem;
    background: #fff;

}

.board-list select {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    border: 1px #fff solid;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.board-main {
    padding: 1rem 1.5rem;
}

.board-main .form-control {
    height: 36px;
}

.board-main .form-group {
    margin-bottom: 8px;
}

.board-footer {
    padding: 0.8rem 4rem;
    width: 100%;
    border-top: #f4f5f9 2px solid;
}

.board-footer button {
    background: #2f3778;
}

.board-main .form-group label:last-child {
    text-align: right;
}

.board-main {
    height: 60vh;
    overflow: auto;
}


.board-output .board-main {
    overflow: auto;
    height: calc(60vh + 69px + 63px);
}

.board-output .board-main .form-group:nth-child(even) {
    background: #f8f7fc;
}

.log {
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: 1px solid #e8e9f2;
    background: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.log .board-main {
    height: 20vh;
    margin: .25rem;
}

.board-main {
    line-height: 2;
    font-size: 1rem;
}

@media only screen and (max-width: 1366px) {
    .grid-mother {
        display: grid;
        grid-template-columns: 1fr 1fr 20%;
    }

    .grid-board {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .grid-board .board-output:nth-child(3) {
        grid-column: 1/3;
    }

    .grid-board .board-output:nth-child(3) .board-main {
        height: auto;
    }
}

@media only screen and (max-width: 960px) {
    .grid-mother {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


}


@media only screen and (max-width: 768px) {
    .grid-mother {
        display: grid;
        grid-template-columns: 1fr;
    }

    .grid-board {
        display: grid;
        grid-template-columns: 1fr;
    }

    .grid-board .board-output:nth-child(3) {
        grid-column: 1/2;
    }

    .middle-office .board-main{
        height: fit-content;
    }

}


@media all and (min-width: 992px) {


    .navbar .nav-item .dropdown-menu {
        display: block !important;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.1);
        border: 1px solid #fff;
        padding: 1rem 0;

    }

    .navbar .nav-item .dropdown-menu {
        transition: all .2s ease-in-out;
        transition-property: opacity, visibility, transform, -webkit-transform;
        transform-origin: top center;
    }

    .navbar-nav .dropdown > .dropdown-menu {
        left: 50%;
        -webkit-transform: translate3d(-50%, 10px, 0);
        transform: translate3d(-50%, 10px, 0);
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
        transform: translate3d(-50%, 0, 0);
        visibility: visible;
        opacity: 1;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

@media (min-width: 640px) {
    .pull-right-md {
        float: right;
    }
}

@media (max-width: 1800px) {

    .headings-section div {
        font-size: 12px;
    }

    .license-main video {
        object-fit: contain;
    }

}


@media (max-width: 1600px) {


    .changes-detail-sec ul {
        flex-wrap: wrap;
    }

    .changes-detail-sec ul li {
        width: 33.33%;
        margin-bottom: 55px;
    }

    .changes-detail-sec ul li:last-child {
        margin-bottom: 25px;
    }
}


@media (max-width: 1199px) {

    .one-usd ul {
        flex-wrap: wrap;
    }

    .one-usd ul li {
        width: 100%;
    }

    .changes-detail-sec ul li {
        width: 50%
    }
}

@media (max-width: 991px) {
    .header .navbar .nav-item {
        padding: 0px;
    }

    .navbar-nav {
        padding: 20px 0 10px;
    }

    .navbar-toggler:focus, .navbar-toggler:hover {
        outline: none;
    }

    .header .navbar .nav-link:before {
        display: none;
    }

    .header .navbar .nav-link:hover {
        color: #4f78e0;
    }

    .navbar-nav .btn-primary {
        margin-top: 10px;
    }

    .header .search-form {
        margin: 20px 0;
    }

    .changes-detail-sec ul li {
        width: 50%;
    }

    .copyright p {
        font-size: 14px;
    }

    .address p {
        font-size: 16px;
    }

    .license-fee h2 {
        font-size: 26px;
        line-height: 35px;
    }

    .license-main {
        padding: 30px 0 70px;
    }
}


@media (max-width: 767px) {

    .changes-detail-sec ul li {
        width: 100%;
    }

    .col-md-5.d-flex.align-items-end.justify-content-end {
        justify-content: center !important;
    }

    .footer-left {
        flex-direction: column;
    }

    .footer-logo {
        margin-bottom: 20px;
    }

    .footer {
        padding: 30px 0 20px;
    }

    .copyright p {
        font-size: 16px;
        margin-top: 20px;
        text-align: center;
    }

    .license-main iframe {
        height: 300px;
    }

    .license-fee {
        padding-left: 0px;
    }

    .license-fee h2 {
        font-size: 26px;
        margin-top: 20px;
    }

    .license-fee a {
        padding: 3px 35px;
        margin-top: 10px;
    }
}

@media (max-width: 575px) {
    .license-fee h2 {
        font-size: 20px;
        line-height: 35px;
    }

    .middle-office h2 {
        font-size: 24px;
    }

    .middle-office h4 {
        font-size: 20px;
    }

    .one-usd h2 {
        font-size: 20px;
    }

    .headings-section div {
        font-size: 12px;
    }

    .country-section h3 {
        font-size: 18px;
    }

    .license-fee p {
        font-size: 16px;
        line-height: 28px;
    }

    .charges-section div {
        font-size: 14px;
    }
}