@font-face {
  font-family: 'Calibri';
  font-weight: 400;
  src: url("fonts/calibri.ttf");
}

body{
    line-height: 1.5;
    color: #000;
    font-family: Arial, serif;
}

h1, h2{
    color: #000;
}

.fusion-text h2{
    font-size: 1.5rem;
}

.line-7{
    display: -webkit-box!important;
    overflow: hidden;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

.menu .brand img {
    height: 77px;
}

ul.nav-list {
    float: right;
    width: fit-content;
}

.page-banner{
    padding-top: 75px!important;
}

body{
    overflow-x: initial;
}

.menu ul > li > a {
    color: #bfbfbf;
    font-size: 18px;
    font-weight: 700;
    line-height: 52px;
}
.menu ul > li > a:hover {
    color: #fff;
}
.menu ul > li > a:active {
    color: #fff;
}

.menu ul > li .dropdown-menu > li > a {
    color: black;
    font-weight: 500;
}

header.primary.up nav.menu ul:not(.dropdown-menu) > li > a {
    padding: 11px 16px;
}

.page-title{
    color: #ffdcdc;
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    line-height: 1.8;
}

/*.main-search{*/
/*    margin-top: -29px;*/
/*    margin-left: 20px;*/
/*    position: absolute;*/
/*    border: grey 1px solid;*/
/*}*/

.main-search{
    margin-top: 10px;
}
.main-search:focus{
    outline: none;
}

.body-title{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #262626;
    line-height: 1.8;
}
.body{
    padding-top: 0;
}

table{
    width: 100%;
    padding: 10px;
}
tr, td, th{
    text-align: right;
    color: #000;
    font-size: 18px;
    padding-right: 10px;
}

thead th{
    font-weight: normal;
}
.table-header{
    font-weight: bold;
    color: #000;
    font-size: 18px;
}

.active-table .table-header{
    background: #ffd9d9!important;
}

.active-table tbody tr:nth-child(odd){
    background-color: #ffd9d9;
}

.text-success{
    color: #003300!important;
}

.text-danger{
    color: #c00000!important;
}

tbody tr:nth-child(odd) {
  background-color: #fff0f0;
}

.table-container{
    border: 10px #fff0f0 solid;
}

.tab{
    font-size: 18px;
    color:grey;
}

.tab:hover{
    color: black;
}

.active{
    color: black;
}
.doc-header{
    font-family: Aurial, sans-serif;
    font-weight: bolder;
    font-size: 28px;
    color: #000;
    line-height: 1.2;

}

.doc-content{
    font-size: 18px;
    color: black;
}

.logo-badge{
    font-size: 18px;
    color:#fff;
    position:absolute;
    top: 31px;
    left: 239px;
}

.user-email{
    text-align: right;
    color: #ffffff;
    padding-right: 20px;
    margin-top: -26px;
}

.footer .logo{
    width: 160px;
}

.footer p{
    line-height: 1.3; font-size: 18px; color: white
}

th{
    width: 28%;
}
.key_header{
    width: 16%;
}

.active-table{
    border: 10px #ffd9d9 solid;
}

.profile-table{
    width: fit-content;
}

.profile-table tbody tr:nth-child(odd) {
    background-color: #fff;
}

.profile-table tr, .profile-table td{
    text-align: left;
    font-size: 18px;
    padding: 20px 30px;
    border: 1px solid #80808054;
}

.icon-profile{
    font-size: 18px;
    color: grey;
    padding-right: 10px;
}

.font-calibri{
    font-family: Calibri, serif;
}

.italic-text{
    font-family: 'Calibri', serif;
    color: black;
    font-size: 20px;
    font-style: italic;
    text-align: justify;
    padding: 40px 0;

}


.regular-text{
    font-family: 'Calibri', serif;
    color: black;
    font-size: 20px;
    padding: 20px 40px;
    text-align: justify;
}

.regular-text p{
    margin-bottom: 50px;
}

.pull-right{
    float: right!important;
}

@media(min-width: 768px){
    .p-lg-40{
        padding: 40px;
    }
    .p-lg-20-60{
        padding: 20px 60px;
    }
}

@media (max-width: 768px) {
    .d-sm-block{
        display: block;
    }
    .main-search{
        margin: 10px auto;
    }
    .d-sm-flex{
        display: flex;
    }

    .menu .brand img {
        height: 55px;
    }

    .logo-badge{
        font-size: 13px;
        color: #fff;
        position: absolute;
        top: 16px;
        left: 177px;
    }

    .user-email{
        margin-top: 0;
    }

    .footer .logo{
        width: 120px;
    }

    .footer{
        padding-top: 0;
    }

    .footer p{
        line-height: 1.1;
        font-size: 14px;
    }

    .profile-table tr, .profile-table td{
        text-align: left;
        font-size: 14px;
        padding: 20px 10px;
        border: 1px solid #80808054;
    }

    .regular-text{
        padding: 0;
    }
}