@font-face {
    font-family: 'Helvetica Neue LT Pro 55 Roman';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue LT Pro 55 Roman'), url('../fonts/HelveticaNeueLTProRoman.woff') format('woff');
}


:hover {
    transition: 0.6s;
}

a {
    text-decoration: none !important;
}

body {
    font-family: 'Helvetica Neue LT Pro 55 Roman';
}

p {
    font-size: 18px;
    color: #252a32;
    line-height: 36px;
}

.container {
    width: 95%;
    max-width: 1632px;
}

video, iframe {
    border-radius: 15px;
}


header.header {
    position: relative;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.header .navbar .nav-item {
    padding: 23px 15px;
}

.header .navbar .nav-link {
    font-size: 18px;
    color: #465373;
    position: relative;
}

.header .navbar .nav-link:before {
    position: absolute;
    left: 0;
    bottom: -33px;
    width: 0%;
    height: 3px;
    background: #4f78e0;
    content: '';
    margin: 0 auto;
    transition: all .2s ease;
}

.header .navbar .nav-link:hover:before {
    width: 100%;
}

.header .navbar .nav-link.active {
    color: #4f78e0;
}

.header .search-form {
    display: flex;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.header .search-form input {
    border: none;
    font-size: 16px;
    color: #465373;
}

.header .search-form input:focus {
    box-shadow: none !important;
    outline: none !important;
}

.mid {
    background: #fcfdff;
    padding: 30px 0 0;
}

.btn-primary {
    font-size: 16px;
    background: #4f78e0;
    font-weight: 400;
    border: solid 1px #4f78e0;
    padding: 8px 20px;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background: #3657ab !important;
    border-color: #3657ab !important;
    color: #fff !important
}

.middle-office h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #252a32;
    margin-bottom: 20px;
}

.middle-office h4 {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: #252a32;
    margin-bottom: 20px;
}

.one-usd {
    border: 1px solid #e7e8f1;
    background: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.one-usd h2 {
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
}

.green-text {
    color: #16a663;
}

.red-text {
    color: #ee3f5f;
}

.one-usd ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.one-usd ul li {
    list-style: none;
    width: 33.33%;
    border-right: 2px solid #f3f3f8;
    border-top: #f4f5f9 2px solid;
    padding-bottom: 5px;
}


.headings-section {
    border-bottom: #f4f5f9 2px solid;
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.headings-section div {
    width: 25%;
    padding: 0 15px;
    font-weight: 700;
    text-align: right;
}

.charges-section {
    display: flex;
    align-items: center;
    padding: 4px 0 4px;
}

.charges-section div {
    width: 27.33%;
    padding: 0 15px;
    text-align: right;
}

.charges-section div:first-child {
    padding-left: 20px;
    text-align: left;
    width: 18%;
}

.changes-detail-sec {
    margin: 25px 0;
}

.changes-detail-sec ul {
    margin: 0 -10px;
    padding: 0;
    display: flex;
}

.changes-detail-sec ul li {
    list-style: none;
    width: 20%;
    padding: 0 10px;
}


.changes-detail-main {
    border: 1px solid #e8e9f2;
    background: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    padding-bottom: 5px;
    border-radius: 5px;
}

.country-section {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e8e9f2;
}

.country-section h3 {
    font-size: 20px;
    font-weight: 700;
    color: #252a32;
    margin: 8px 0;
}


.footer {
    padding: 30px 0;
    box-shadow: 0 -18px 23px 0 rgba(0, 0, 0, 0.1);
}

.footer-left {
    display: flex;
}

.footer-logo {
    margin-right: 60px;
    margin-top: 5px;
}

.address p {
    margin-bottom: 0;
    font-size: 18px;
    color: #465373;
    line-height: 1.25;
}

.address a {
    color: #465373;
}

.address a:hover {
    color: #4f78e0;
}

.copyright p {
    text-align: right;
    font-size: 18px;
    color: #465373;
    margin-bottom: 0;
}

.country-section h3 img {
    margin-top: -3px;
}

.license-main {
    padding: 80px 0 120px;
}

.license-fee {
    padding-left: 25px;
}

.license-fee h2 {
    font-size: 36px;
    font-weight: 700;
    color: #252a32;
    line-height: 42px;
    margin-bottom: 20px;
}

.license-fee a {
    color: #4f78e0;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid #4f78e0;
    border-radius: 5px;
    padding: 10px 60px;
    margin-top: 30px;
    display: inline-block;
}

.license-fee a:hover {
    color: #fff;
    background: #4f78e0;
}

.bg-white-chart {
    background: #fff;
    border: 1px solid #e8e9f2;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.headings-section div:first-child {
    width: 18%
}

.headings-section div {
    width: 27.33%;
}

.one-usd ul li .headings-section div:first-child {
    width: 25%
}

.one-usd ul li .headings-section div {
    width: 25%
}

.one-usd ul li .charges-section div:first-child {
    width: 25%;
    font-size: 15px
}

.one-usd ul li .charges-section div {
    width: 25%
}

.login-container {
    max-width: 580px;
    margin-top: 50px;
}

.login-container .changes-detail-main{
    padding: 60px 40px;
}

.login-container span{
    color: grey;
}

.login-container .description{
    padding-top:30px;
}

.flag{
    width: 30px;
}

@media (max-width: 1800px) {

    .headings-section div {
        font-size: 12px;
    }

}


@media (max-width: 1600px) {


    .changes-detail-sec ul {
        flex-wrap: wrap;
    }

    .changes-detail-sec ul li {
        width: 33.33%;
        margin-bottom: 55px;
    }

    .changes-detail-sec ul li:last-child {
        margin-bottom: 25px;
    }
}


@media (max-width: 1199px) {

    .one-usd ul {
        flex-wrap: wrap;
    }

    .one-usd ul li {
        width: 100%;
    }

    .changes-detail-sec ul li {
        width: 50%
    }
}

@media (max-width: 991px) {
    .header .navbar .nav-item {
        padding: 0px;
    }

    .navbar-nav {
        padding: 20px 0 10px;
    }

    .navbar-toggler:focus, .navbar-toggler:hover {
        outline: none;
    }

    .header .navbar .nav-link:before {
        display: none;
    }

    .header .navbar .nav-link:hover {
        color: #4f78e0;
    }

    .navbar-nav .btn-primary {
        margin-top: 10px;
    }

    .header .search-form {
        margin: 20px 0;
    }

    .changes-detail-sec ul li {
        width: 50%;
    }

    .copyright p {
        font-size: 14px;
    }

    .address p {
        font-size: 16px;
    }

    .license-fee h2 {
        font-size: 26px;
        line-height: 35px;
    }

    .license-main {
        padding: 30px 0 70px;
    }
}


@media (max-width: 767px) {

    .changes-detail-sec ul li {
        width: 100%;
    }

    .col-md-5.d-flex.align-items-end.justify-content-end {
        justify-content: center !important;
    }

    .footer-left {
        flex-direction: column;
    }

    .footer-logo {
        margin-bottom: 20px;
    }

    .footer {
        padding: 30px 0 20px;
    }

    .copyright p {
        font-size: 16px;
        margin-top: 20px;
        text-align: center;
    }

    .license-main iframe {
        height: 300px;
    }

    .license-fee {
        padding-left: 0px;
    }

    .license-fee h2 {
        font-size: 26px;
        margin-top: 20px;
    }

    .license-fee a {
        padding: 3px 35px;
        margin-top: 10px;
    }
}

@media (max-width: 575px) {
    .license-fee h2 {
        font-size: 20px;
        line-height: 35px;
    }

    .middle-office h2 {
        font-size: 24px;
    }

    .middle-office h4 {
        font-size: 20px;
    }

    .one-usd h2 {
        font-size: 20px;
    }

    .headings-section div {
        font-size: 12px;
    }

    .country-section h3 {
        font-size: 18px;
    }

    .license-fee p {
        font-size: 16px;
        line-height: 28px;
    }

    .charges-section div {
        font-size: 14px;
    }
}