{% load static %}
{% load app_tags %}
<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TG Code">
    <title>Treasury Quants</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/libs/ionicons/css/ionicons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    <link rel="icon" href="{% static 'assets/images/favicon.png' %}" type="image/png">
</head>

<body>

{% include 'app/basic/navbar.html' %}

<section class="mid">
    {% include 'app/basic/sub_header.html' %}
    <div class="container login-container">
        <div class="changes-detail-main">
            <h3 class="font-weight-bold mb-4">Create Account</h3>

            <div class="text-muted pt-2 ">Password must be at least 10 characters long and not include the following
                special characters: "',|&.
            </div>

            <form action="" method="post" onsubmit="return account_status()">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input class="form-control" placeholder="Email" required id="input-name" type="email">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password" required id="input-password">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input type="password" class="form-control" placeholder="Confirm password" id="input-password-confirm" required>
                </div>

                <div class="description">
                    <span class="msg"></span>
                </div>

                <button class="btn btn-primary mt-4 pull-right btn-block" style="float: right" type="submit">
                    Create account<span class="spinner-border spinner-border-sm loading-icon" role="status"
                                        aria-hidden="true"></span>
                </button>
                <div style="clear: both"></div>
                <div style="margin-top: 30px">
                    <span>Already have an account?</span> <a href="{% url 'account_cycle:login' %}"
                                                             class="ml-4 text-primary">Login</a>
                </div>
                <div class="mt-3 pt-3" style="border-top: 1px solid #46537338">
                    <span> By checking Sign Up you agree to the <a class="text-primary"
                                                                   href="{% url 'app:terms_of_service' %}">Terms</a>
                        & <a class="text-primary" href="{% url 'app:privacy_notice' %}">Privacy Policy</a> </span>
                </div>
            </form>

        </div>
    </div>

    {% include "app/basic/license.html" %}

</section>

{% include "app/basic/footer.html" %}

<!-- Core JS  -->
<script src="{% static 'assets/js/jquery-2.1.3.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/libs/feather-icons/dist/feather.min.js' %}"></script>

{% include 'app/basic/js.html' %}
<script src="{% static 'assets/js/custom.js' %}"></script>

<script>

    let user_ip = '{{ current_ip }}';
    const ele_name = $('#input-name');
    const ele_password = $('#input-password');


    function account_status_callback(data) {
        if (data.error) {
            msg_show(ele_msg, data['error']);
        } else {
            if (data.results.is_exist === 'False') {
                create_account(ele_name.val(), ele_password.val(), user_ip);
            } else if (data.results.is_exist === 'True' && data.results.is_active === 'False') {
                msg_show(ele_msg, `The Email is already register, <a class="text-primary" href="{% url 'account_cycle:confirm_email_activate_account' %}">Please activate your account</a>`);
            } else if (data.results.is_exist === 'True' && data.results.is_active === 'True') {
                msg_show(ele_msg, `The Email is already register, <a class="text-primary" href="{% url 'account_cycle:login' %}">Please login </a>`);
            } else {
                msg_show(ele_msg, 'except');
            }
        }
        ele_loading_icon.css('display', 'none');
    }

    function account_status() {
        let email = ele_name.val();
        let password = ele_password.val();
        let confirm_password = $('#input-password-confirm').val();
        let msg_text = password_validate(password, confirm_password);
        if (msg_text) {
            msg_show(ele_msg, msg_text);
            return false;
        }
        ele_loading_icon.css('display', 'inline-block');

        let arguments = {'user_email': email};
        call_account_api(token, 'account_status', arguments, account_status_callback);
        return false;
    }

    function create_account_callback(data) {
        if (data.error) {
            msg_show(ele_msg, data['error']);
            post_message("create_account", data.error);
        } else {
            msg_show(ele_msg, "We sent activation key to your email. Please check your mail box.");
        }
    }

    function create_account(email, password, user_ip) {

        let url = document.location;
        let arguments = {
            'user_email': email,
            'user_password': password,
            'user_ip': user_ip,
            'callback_url': url.protocol + '//' + url.host + '/account/account-activation-callback/',
        };
        call_account_api(token, 'account_create', arguments, create_account_callback)

    }

</script>

</body>

</html>

