{% load static %}
  <footer class="position-relative" id="footer-main">
    <div class="footer pt-lg-1 footer-dark " style="background: #262626">
      <!-- Footer -->
      <div class="container-fluid pt-4">

        <div>
            <img src="{% static 'assets/img/brand/icon.png' %}" class="logo"  style="float: left; margin-right: 16px">
            <p style="">Address: <br>&nbsp;&nbsp;20-22 Wenlock Road<br>&nbsp;&nbsp;London, England, <br>&nbsp;&nbsp; N1 7GU <br>Email: contact@treasuryquants.com</p>
        </div>
        <div class="row align-items-center justify-content-md-between pb-4">
          <div class="col-md-12">
            <div class="copyright text-center text-white" style="font-size: 18px">
              &copy; 2020 <a href="#" class="font-weight-bold" target="_blank"> treasuryquants.com </a> - all rights reserved.
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
