{% load static %}
<footer class="footer">
  <div class="container-fluid">
     <div class="row">
        <div class="col-md-7">

         <div class="footer-left">
            <div class="footer-logo"><a href="{% url 'app:home' %}">
                <img src="{% static 'assets/images/footer-logo.png' %}" alt="logo" class="img-fluid"></a></div>
            <div class="address">
               <p>Address:</p>
               <p>20-22 Wenlock Road,</p>
               <p>London, England,</p>
               <p>N1 7GU</p>
               <p>Email:<a href="mailto:contact@treasuryquants.com">contact@treasuryquants.com</a></p>
            </div>
         </div>

        </div>
        <div class="col-md-5 d-flex align-items-end justify-content-end">
           <div class="copyright">
              <p>© 2020 treasuryquants.com – all rights reserved.</p>
           </div>
        </div>
     </div>
  </div>
</footer>
