{% load static %}
<section class="license-main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <video width="100%" height="100%" controls poster="{% static 'assets/video/poster.png' %}">
                    <source src="{% static 'assets/video/sample.mp4' %}" >
                </video>
            </div>

            <div class="col-md-6">
                <div class="license-fee">
                    <h2>At Treasury Quants, we believe you should never pay for license fee.</h2>
                    <p class="text-justify">With us, you never do. With us, you will never have to commit to any contracts. We are a
                        pay-as-you go service. This means that you only pay for what you use. Not a penny more. And
                        when time comes, you can stop. No questions asked.
                        We don’t have a sales department to keep calling you. We let go of that department a long
                        time ago. When you have a question, you will talk to those who deliver your numbers. No one
                        else! So why not give us a try? It’s free. Take a look around, ask us questions, take us for
                        a test drive. Let us know what you think. With us, you are as free as a bird.</p>
                    <a href="{% url 'app:about_us' %}">View More</a>
                </div>
            </div>
        </div>
    </div>
</section>