{% load static %}
{% load app_tags %}

<section class="middle-office">
    <div class="container-fluid">
        <h2>Your Middle Office</h2>
        {% get_development_status as development_status %}
        {% if development_status %}
            <div class="development-status">This is development environment!</div>
        {% endif %}
        {% get_api_status as api_status %}
        <div class="api-status">Api Server :
            {% if api_status %}
                <img src="{% static 'assets/img/Button-Green.svg'%}" width="20px">
            {% else %}
                <img src="{% static 'assets/img/Button-Red.svg'%}" width="20px">
            {% endif %}
        </div>
</section>