{% load static %}
{% load app_tags %}
<header class="header">
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'app:home' %}"><img src="{% static 'assets/images/logo.png' %}" alt=""
                                                                     class="img-fluid"></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link {% check_navbar navbar 'home' %}" aria-current="page"
                           href="{% url 'app:home' %}">markets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% check_navbar navbar 'workbench' %}" aria-current="page"
                           href="{% url 'app:workbench' %}">workbench</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% check_navbar navbar 'about_us' %}"
                           href="{% url 'app:about_us' %}">about&nbsp;us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% check_navbar navbar 'policy_notice' %}"
                           href="{% url 'app:policy_notice' %}">policy&nbsp;notice</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% check_navbar navbar 'terms' %}"
                           href="{% url 'app:terms_of_service' %}">terms of service</a>
                    </li>
                    {% authenticated request as user_flag%}
                    {% if user_flag %}
                        <li class="nav-item">
                            <a class="nav-link {% check_navbar navbar 'profile' %}" href="{% url 'account_cycle:profile' %}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary"
                               href="{% url 'account_cycle:logout' %}">Log&nbsp;out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link  {% check_navbar navbar 'login' %}" href="{% url 'account_cycle:login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary"
                               href="{% url 'account_cycle:create_account' %}">Create&nbsp;Account</a>
                        </li>
                    {% endif %}

                </ul>

            </div>
        </div>
    </nav>
</header>

