{% load static %}
<header class="primary">

    <nav class="menu" style="background:#262626 ; border: 0">
        <div class="container-fluid">
            <div class="brand d-block">
                <a href="/">
                    <img src="{% static 'assets/img/brand/tq.png' %}" alt="Magz Logo">
                    <span class="logo-badge"><i>Quants included!</i></span>
                </a>
            </div>
            <div class="mobile-toggle">
                <a href="#" data-toggle="menu" data-target="#menu-list"><i class="ion-navicon-round"></i></a>
            </div>
            <div class="mobile-toggle">
                <a href="#" data-toggle="sidebar" data-target="#sidebar"><i class="ion-ios-arrow-left"></i></a>
            </div>
            <div id="menu-list">
                <ul class="nav-list ml-lg-2">
<!--                    <li class="for-tablet nav-title"><a>Menu</a></li>-->


                    <!--                    <li class="nav-search">-->
                    <!--                        <a href="{% url 'app:policy_notice' %}" >Policy Notice</a>-->
                    <!--                    </li>-->
                    <!--                    <li class="nav-search">-->
                    <!--                        <a href="{% url 'app:terms_of_service' %}">Terms of Service</a>-->
                    <!--                    </li>-->
                    <!--                     <li class="nav-search">-->
                    <!--                        <a href="#" >create account</a>-->
                    <!--                    </li>-->
                    <li class="nav-search">
                        <a href="{% url 'app:profile' %}">account</a>
                    </li>
                    <li class="nav-search">
                        <a href="{% url 'app:about_us' %}">about</a>
                    </li>
                    <li class="nav-search">
                        <a href="{% url 'app:home' %}">workbench</a>
                    </li>
                    <li class="nav-search">
                        <a href="{% url 'app:home' %}">markets</a>
                    </li>
<!--                    <li class="nav-search  dropdown magz-dropdown">-->
<!--                        <a>Support <i class="ion-ios-arrow-right"></i></a>-->
<!--                        <ul class="dropdown-menu">-->
<!--                            <li><a href="{% url 'app:policy_notice' %}">Policy Notice</a></li>-->
<!--                            <li><a href="{% url 'app:terms_of_service' %}">Terms of Service</a></li>-->
<!--                            <li><a href="#">API documentation</a></li>-->
<!--                            <li><a href="#">Career</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->


                </ul>
            </div>
        </div>
    </nav>
</header>

